button.btn.btn-danger.text-light.float-left.btn-flowmanagement(type="button", data-env=env, data-uid=item["features"], id=item["uid"], data-back="nothing", data-toggle="modal", data-target="#flowmanagement")
  i.far.fa-hand-paper
  span.ml-2.bold 
  | flow stopper !!!