button.btn.btn-danger.text-light(type="button", data-uid=item["features"], data-back="nothing", data-toggle="modal", data-target="#flowmanagement") 
  i.far.fa-hand-paper
  span.ml-2 
  | flow stopper !!!