button.btn.btn-light.font-weight-bold.text-danger.float-left.btn-flowmanagement(type="button", data-env=env, data-uid=item["features"], id=item["uid"], data-back="nothing", data-toggle="modal", data-target="#flowmanagement")
  i.fas.fa-ban
  span.ml-2.bold 
  | flow stopper