.container
  .table-responsive
    center(style="margin-top: 6rem; margin-bottom: 4rem;")    
      h3.col-auto
        | Payment Activities
      span.font-italic.text-secondary
      | for MID : #{data["mid"]}
      br              
      a#showFlow.btn.btn-dark.mt-3.text-light
        i.fas.fa-arrow-left
        span.ml-3    
        | back to Flow
    table#activities.table.table-striped.table-bordered(style="width:100%;")
      thead
        tr
          th Time
          th Service 
          th Activity