each key in Object.keys(data)          
  - var script = data[key][0]                   
  br            
  .row.ml-1.mr-1      
    .col-md-8
      h5.mt-1  #{key.indexOf('scenarios') == -1 ? "Features for" : "Scenarios for"}                
      p #{script.name}                       
    .col-md-4
      //include scripts/script_modal
      //if script.options["properties"] == true  
        //button.btn.btn-sm.btn-link.float-right.ml-1(type="button", data-toggle="modal", data-target=".script-modal") Set parameters 
      br
      //if script.options["allrun"] == true 
        //a#allrun.btn.btn-sm.btn-outline-success.mt-2.float-right( href= "/" + identity["type"] + "/run/"+ key +"/0")
          //i.fa.fa-forward
          //span.mt-1.ml-2  Execute all
      //if script.options["allroll"] == true 
        //a#allback.btn.btn-sm.btn-outline-danger.mt-2.float-right.ml-4( href= "/" + identity["type"] + "/rollback/"+ key +"/0")
          //i.fa.fa-backward
          //span.mt-1.ml-2  Rollback all
  table.table.table-hover.ml-1.mr-1
    .container
      thead
        tr.row.text-dark.ml-1.mr-1
          th.col.col-md-1 
          th#spinner.col.col-md-7 description
          th.col.col-md-2 scope
          th.col.col-md-2 
      tbody
        - var steps = data[key][0].values              
        for k in Object.keys(steps)
          tr.row.text-dark.ml-1.mr-1(id=("row_" + key.replace(/ /g, "-") + "_" + k).toLowerCase()) 
            -var obj = steps[k]               
            td.col.col-md-1                        
              if obj["status"] == "success"
                i.fa.fa-check-square-o.fa-lg.text-success
              else
                i.fa.fa-square-o.fa-lg.text-dark
                //if obj["action"] != ""
                //  input(id="cb_" + key.replace(/ /g, "-") + "_" + k, type="checkbox", onclick="handleClick(this)", checked)
                //else
                //  input(id="cb_" + key.replace(/ /g, "-") + "_" + k, type="checkbox", onclick="handleClick(this)")                      
            td.col.col-md-7(class=(obj["action"] == "" ? "text-secondary font-weight-light" : "")) #{obj["description"]}
            td.col.col-md-2(class=(obj["action"] == "" ? "text-secondary font-weight-light" : "")) #{obj["scope"]}
            td.col.col-md-2
              if(obj["flow"] != null )
                - var rhref = "/flow/load/Accounting/template_Inteface_Selection"
                button.btn.btn-outline-success.ml-2.mt-2.btn-sm.float-right( onclick="handleScript(this)", data-href = rhref, data-rowid = ("row_" + key.replace(/ /g, "-") + "_" + k).toLowerCase() )
                  b flow
              if obj["action"] == "rollback"
               - var ehref = "/" + identity["type"] + "/run/"+ key +"/" + k
                button.btn.btn-outline-secondary.mt-2.btn-sm.float-right(onclick="handleScript(this)", data-href = ehref, data-rowid = ("row_" + key.replace(/ /g, "-") + "_" + k).toLowerCase())
                  i.fa.fa-undo           
              if obj["action"] == "run"
                - var ehref = "/" + identity["type"] + "/run/"+ key +"/" + k
                button.btn.btn-outline-primary.mt-2.btn-sm.float-right(onclick="handleScript(this)", data-href = ehref, data-rowid = ("row_" + key.replace(/ /g, "-") + "_" + k).toLowerCase())
                  i.fa.fa-forward.fa-lg.text-primary
  br
  br
        
 
