.container
  .table-responsive
    center(style="margin-top: 6rem; margin-bottom: 4rem;")    
      h1.display-4.col-auto #{data["mid"]}
      h5.mt-2.col-auto #{data["name"]} 
    pre(lang="xml")
      details