case item["type"]
  when "activity"
      include flowitems/service_profile
  when "status-outfile"
      include flowitems/queue_profile 
  when "status-message"
      include flowitems/queue_profile 
  when "status-related"
      include flowitems/queue_profile 
  when "rule-business-mandatory"
      include flowitems/rule_profile
  when "rule-business-optional"
      include flowitems/ruleopt_profile 
  when "rule-system"
      include flowitems/rule_profile 
  when "channel"
      include flowitems/channel_profile
  when "interface"
      include flowitems/interface_profile
  when "service"
      include flowitems/service_profile
  when "subflow"
      include flowitems/subflow_profile
  default
      include flowitems/default_profile