block content  
  .container    
    if (data == null) || Object.keys(data).length == 0
      .row.mt-5
        .col-md-12.mt-5
          center.mt-5            
            h3.mt-5 Please click on a mid from the mids list ...
    else
      .row#payflow
        .col-md-12.mt-5
          center.mt-5
            h3.col-auto #{data["name"]} 
            br 
            span.font-italic.text-secondary
              | for MID : #{data["mid"]}
            br      
            span
              | The flow is similar to  
              b #{data["template"]} 
              | with 
              b #{data["customization"]} 
              | rate
          br        
          ul.timeline
            if data["items"] != null && data["items"] != undefined
              each item in data["items"]  
               include flow_item
          br
          if (data["items"] && data["items"][0] && data["items"][0]["status_class"] != "secondary")
            .row.justify-content-center.mt-5
              a.btn.btn-outline-danger(href= "/folder/delete/currentflow")
                i.fa.fa-trash
                span.ml-2    
                | Delete  
                b Flow
              

               