doctype html
html(lang="en")
  head
    title= title 
    meta(http-equiv="X-UA-Compatible", content="IE=edge")   
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.4.1/css/all.css", integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/alertify.core.css')
    link(rel='stylesheet', href='/stylesheets/alertify.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='stylesheet', href='/stylesheets/style3.css')
    link(rel='stylesheet', href='/stylesheets/select2.min.css')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/flow.css')
    link(rel='stylesheet', href='/stylesheets/xonomy.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Spicy+Rice')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:700')
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/bootstrap-filestyle.min.js")
    script(src="/javascripts/simpleUpload.min.js")
    script(src='/javascripts/alertify.min.js')
    script(src='/javascripts/bootstrap-treeview.js')
    script(src='/javascripts/jquery.nicescroll.min.js')
    script(src='/javascripts/select2.full.js')
    script(src='/javascripts/spin.min.js')
    script(src='/javascripts/xonomy.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://unpkg.com/split.js/dist/split.min.js')
    script(src='/javascripts/app.js')
  body
    include nav
    .page-top-offset
    .wrapper      
      include sidepanel
      #content
        block content
      .overlay
      #loader.loader
      