doctype html
html(lang="en")
  head
    title= title 
    meta(http-equiv="X-UA-Compatible", content="IE=edge")   
    link(rel="stylesheet", href="/stylesheets/bootstrap.css") 
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.4.1/css/all.css", integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css")
    link(rel='stylesheet', href='/stylesheets/app.css') 
    link(rel='stylesheet', href='/stylesheets/range-slider.css')
    link(rel='stylesheet', href='/stylesheets/flow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-editable.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Spicy+Rice')    
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src='/javascripts/jquery.nicescroll.min.js')
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src='/javascripts/bootstrap-editable.js')
    script(src="/javascripts/bootstrap-filestyle.min.js")
    script(src='/javascripts/bootstrap-treeview.js')
    script(src="/javascripts/simpleUpload.min.js")
    script(src='/javascripts/select2.full.js')
    script(src='/javascripts/spin.min.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/javascripts/split.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js")    
    script(src='/javascripts/app.js')
  body
    include nav
    .page-top-offset
    .wrapper      
      include sidepanel
      #content
        block content
      .overlay
      #loader.loader
      