doctype html
html(lang="en")
  head
    title= title 
    meta(http-equiv="X-UA-Compatible", content="IE=edge")   
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/alertify.core.css')
    link(rel='stylesheet', href='/stylesheets/alertify.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='stylesheet', href='/stylesheets/style3.css')
    link(rel='stylesheet', href='/stylesheets/select2.min.css')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/flow.css')
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/bootstrap-filestyle.min.js")
    script(src="/javascripts/simpleUpload.min.js")
    script(src="/javascripts/socket.io.js")
    script(src='/javascripts/alertify.min.js')
    script(src='/javascripts/bootstrap-treeview.js')
    script(src='/javascripts/jquery.nicescroll.min.js')
    script(src='/javascripts/select2.full.js')
    script(src='/javascripts/app.js')
  body
    include nav
    .page-top-offset
    .wrapper
      nav#sidebar
        #dismiss
          i.fa.fa-arrow-left
        .sidebar-header
          h5.mt-5 
        #tree.treeview
        include utils/edit_flow
      #content.mt-5
        block content
      .overlay
