doctype html
html(lang="en")
  head
    title= title 
    meta(http-equiv="X-UA-Compatible", content="IE=edge")   
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='stylesheet', href='/stylesheets/flow.css')
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/bootstrap-filestyle.min.js")
    script(src="/javascripts/simpleUpload.min.js")
    script(src='/javascripts/app.js')
  body
    include nav
    .page-top-offset
      block content
