
doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/login.css')   
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")    
  body
    .container
      .loginmodal-container
        img.img-responsive.login-img(src="img/logo.png", width="200px")
        h1 Payment 
          b Flows
        form(action="/login", method="post")
          input(type="text", name="user", placeholder="Username")
          input(type="password", name="pass", placeholder="Password")
          input.login.loginmodal-submit(type="submit", name="login", value="Login")
        .login-help      