
doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/login.css')   
    script(src="/javascripts/jquery-3.2.1.min.js")    
  body
    .container
      .loginmodal-container
        img.img-responsive.login-img(src="img/logo.png", width="270px")
        br
        br
        h1 Payment 
          b Flows
        br
        form(action="/login", method="post")
          input(type="text", name="user", placeholder="Username")
          input(type="password", name="pass", placeholder="Password")
          input.login.loginmodal-submit(type="submit", name="login", value="Login")
        .login-help      