
doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/login.css')   
    script(src="/javascripts/jquery-3.2.1.min.js")    
  body
    .container
      .loginmodal-container.justify-content-center
        img.img-responsive.login-img.ml-5(src="img/logo.png", width="200px")
        br
        br
        h1 Self Services 
          b Platform
        br
        form(action="/login", method="post")
          input(type="text", name="user", placeholder="Username")
          input(type="password", name="pass", placeholder="Password")
          input(type="text", name="env", value="EUROBANK", readonly)
          hr
          input.login.btn-outline-primary.btn-lg(type="submit", name="login", value="Sign In")
        .login-help      