
- var navmenu = { Channels: '/channel', Interfaces: '/interface' , OnBoarding: '/onboard', WebServices: '/webservices' }
nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-faded
  .container
    .btn-group
      button#currentFlow.btn.btn-outline-dark(type='button') Payments  
        b Flow
      button#listFlows.btn.btn-outline-dark.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
    a.nav-link.navbar-toggler-right(style="color: black;", href='/onboard') COTS
    .btn-group
      button.btn.btn-link.text-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Connectivity 
      .dropdown-menu
        a.dropdown-item(href='/channel') Channels
        a.dropdown-item(href='/interface') Interfaces
    //a.nav-link.navbar-toggler-right(style="color: black;", href='/webservices') WebServices
    .btn-group
      button.btn.btn-link.text-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Configuration 
      .dropdown-menu
        a.dropdown-item(href='/folder/exports') Export setup
        .dropdown-divider
        a.dropdown-item(href='/logout') Exit
         
    