nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light.justify-content-between
  .container
    span.nav-item.dropdown
      button#navbarDropdownMenuLink.nav-link.dropdown-toggle.btn.btn-success(style="font-weight: bold;", type="button", data-toggle='dropdown')
        | Show Flow            
      .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
        #listFlows.dropdown-item Business Flows
        #listPayments.dropdown-item Payment Flows
        #exitFlows.dropdown-item Exit
    span.nav-item
      button.btn.btn-outline-success(type="button", data-toggle="modal", data-target="#uploadModal") Upload files

#uploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content       
      .modal-body.text-center
        .mt-2.p-2(style="background: #ecf0f1;") 
          h5.mt-1.mb-2
            | Upload flows
          .mt-3.text-left
            | Hi there, here you can upload files with business flows setup and payment logs. For business flows you should get set from database and XML configuration (business flow beans xml). And for payments flow gpp_server log files. 
          .mt-2.text-left.hidden(style="font-size: 12px;")
            .text-success copy export SQL query 
            .text-uppercase.mt-1.p-1.text-left(style="background: #ecf0f1; font-size: 12px;") 
                 | select bfd.*
                 br
                 | from business_flow_definition bfd
                 br  
                 | where bfd.workflow_bean_id is not null
                 br
                 | order by bfd.business_flow_id asc
        form-group.row.mb-3.mt-3
          label.col-sm-5.col-form-label.text-left(for="environment") Environment name:
          .col-sm-7
            select#environment.selectpicker.show-tick(data-style="btn-outline-success", data-width="100%", data-live-search="true", data-size="3", name="env")
              option CITIUPI_SCD05
              option DO_MANGESH_TEST
              option SBSA_GLMQA01
              option SBSA_GLMQA02
              option SBSA_GLRM_BA001
              option SBSA_GLRM_FRZ01
              option SBSA_GLRM_PRE01
              option SBSA_GLRM_PROD01
              option SBSA_GLRM_QA01
              option SBSA_GLRM_QA02
              option SBSA_GLRM_QA03
              option SBSA_GLRM_QAHV01
              option SPBOI_SCD_CUST02
              option SPCITI_PRE_RTP1
              option SPCITI_RTPQA
              option SPCITI_UPI02
              option SPCITI_UPIQA01
              option SPCITI_UPIQA03
              option SPCITI_UPIQA04
              option SPNAB_PRD_TEST01
              option SPPRDT_464_TRN
              option SPPRDT_465_TRN1
              option SPPRDT_SCD_QAP01
              option SPPRD_CITI_UPISAND
              option SPSWED467_CSTM02
              option WSTNZ_TEST4
              option WSTNZ_TEST41
              option WSTPAC_TEST1
              option BOI_QA_SP_BUGS01
              option PRDT_4610A_SCD06
              option PRDT_469_IPBUG
              option SPPRDT4610_HVBUG1
              option SPPRDT4610_MPBUG2
              option SPPRDT469_HVBUG1
              option SPCIMB_HV_FRZ01_QA
              option SPCIMB_HV_PRD01_QA
              option SPCIMB_HV_PRE01_QA
              option SPCIMB_LV_FRZ01_QA
              option SPCIMB_LV_PRD01_QA
              option SPCIMB_LV_PRE01_QA
              option SPCIMB_LV_SCD01_QA
              option AMEXGPP
              option BOFASCHQATZ
              option CITIIPHKPRE_MSTR
              option CITI_IMPS_BAMSTR
              option CITI_IP_BAMSTR
              option CITI_IP_FRZ_BAMSR
              option CITI_IP_HK_FR_BAM
              option CITI_IP_PRE_BAMSR
              option CITI_RTP_BAMSTR
              option CITI_RTP_FRZ_BM
              option DEVIP_PRD_BAMSTR
              option GS_SCHED_BAMSTR
              option LLOYDS_SCD_BAMSTR
              option LLOYD_FRZ_BAMSTR
              option PRD4610A_BAMASTER
              option PRD_4610_BAMASTER
              option PRJ_EURO_SCHED_1
              option SBSAGLRSCD_BAMSTR
              option SBSA_G_FRZ_BAMSTR
              option SPBOIL_PRE_BAMSTR
              option SPBOI_FRZ_BAMSTR
              option SPBOI_SCD_BAMSTR
              option SPEURO_STG_MSTR
              option SPEURO_STG_MSTR1
              option SPGS_PRE_BAMSTR
              option SPGS_SCHED_BAMSTR
              option SPMQG_PRE_BAMSTR
              option SPNAB_PRE_BAMSTR
              option SPNBG_FRZ_BAMSTR
              option SPNED_FRZ_BAMSTR
              option SPPNC_PRE_BAMSTR
              option SPPNC_RTP_BAMSTR
              option SPPNC_STG_BAMSTR
              option SPPRDT_467_BAMSTR
              option SPPRDT_468_BAMSTR
              option SPPRDT_469_BAMSTR
              option SPRABO_SCD_BAMSTR
              option SPSANT_SCD_BAMSTR
              option SPSNTR_PRE_BAMSTR
              option STT_FRZ_BA_MASTER
              option STT_SCD_BA_MASTER
              option Dmgr01
              option ES6
              option MOSHE
              option SPSWED_SSO_467
              option SPSWED_SSO_4677
              option SWED_SSO_467
              option NED_ES
              option PRDTIP_468EXT_NFT1
              option PRDTIP_468WAS_NFT1
              option SABSAOM_NFT011
              option SABSA_MP_NFT1
              option SPPRDT_SCD_NFT1
              option SPRABO_NFT1
              option SP_BOI_NFT1
              option SWED_SCD_HV_NFT1
              option SWED_SCD_MP_NFT1
              option SWED_SCD_NFT
              option NED_ES
              option PRDTIP_468EXT_NFT2
              option PRDTIP_468WAS_NFT2
              option SABSAOM_NFT012
              option SABSA_MP_NFT2
              option SBSAOM_CSTM_DMP
              option SPPRDT_SCD_NFT2
              option SPRABO_NFT2
              option SP_BOI_NFT2
              option SWED_SCD_HV_NFT2
              option SWED_SCD_MP_NFT2
              option SWED_SCD_NFT2
              option MADRID_AIX_1
              option NAGE45_PRE_BAMSTR
              option SPNAB_PRD_QA_AIX
              option SPNAGE_45_CERT01
              option SPWPAC855_PRD_AIX
              option GOLDMAN_NFT01
              option NFT_PRD_4692_MP1
              option PNC_STAGE_NFT1
              option SBSAGLRM_NFT1
              option SPCITI_NFT1
              option SPHSBC_SCHED_NFT1
              option WAS_GOLDMAN_NFT011
              option WAS_NFT_PRD_4692_MP
              option GOLDMAN_NFT01
              option NFT_PRD_4692_MP2
              option PNC_STAGE_NFT2
              option SBSAGLRM_NFT2
              option SPCITI_NFT2
              option SPHSBC_SCHED_NFT2
              option WAS_GOLDMAN_NFT012
              option CICD_469_NFT1
              option GOLDMAN_OFER
              option NFT_PRD_469MP1
              option PNAB_HOTDEP_CLS04
              option PRD468_HV_NFT021
              option PRDCT_HVWLS_NFT
              option PRDTMP_468_NFT1
              option PRODUCT_IP_NFT01
              option SPCIMB_46_NFT
              option SPCITI_NFTT1
              option SPCITI_NFTTT1
              option SPNAB_HOTDEP_CLS01
              option SWED_SCD_NFT1
              option TEST1
              option CICD_469_NFT2
              option NFT_PRD_469MP2
              option PRD468_HV_NFT022
              option SPCIMB_46_NFT
              option SPCITI_NFTTT2
              option SPNAB_HOTDEP_CLS02
              option SPNAB_HOTDEP_CLS03
              option BANAMEX_NFT1
              option PNC50_NFT
              option SPBOI_NFT1
              option SPNED_467_NFT1
              option BANAMEX_NFT2
              option PNC50_NFT2
              option SPBOI_NFT2
              option SPNED_467_NFT2
              option SPSWED_SCD_INTGR
              option DEUT_FRZ_BA_MASTER
              option LLOYDS_IMPL8_BUG1
              option NED_CSTM_AUTO
              option NED_CSTM_FRZ_QA1
              option OCBC_BA_MASTER
              option OCBC_FRZ_BA_MASTER
              option OCBC_QA_SCDMQ09
              option SBSAOM_CSTM_AUTO1
              option SPBOI_SCD_BMSTR
              option SPBOI_SCD_IMP05
              option SPBOI_SCD_IMP15
              option SPBOI_SCD_IMP16
              option SPBOI_SCD_IMP25
              option SPBOI_SCD_IMPL4
              option SPNAB_SCD_QA4
              option SPNED_DUMP_QA
              option SPOCBC_FRZ02
              option TEST1
              option NED46_FRZ02_BUGS
              option NED46_SCD09_BUGS
              option NED_CSTM_FRZ
              option SPHSBC_SCHED_QA2
              option SPNED_FRZ_AUTO
              option SPNED_FRZ_AUTO01
              option SPNED_FRZ_QA2_2
              option SPNED_SCD_AUTO02
              option SPNED_SCD_AUTO05
              option SPNED_SCD_AUTO05N
              option SPNED_SCD_AUTO07
              option SPNED_SCD_AUTO_NEW
              option SPNED_SCD_QA4
              option SPNED_STAG_QA
              option SPPRDT_466_AUTO
              option SPPRDT_467_OM
              option SPPRDT_468_BOI
              option SPPRDT_468_BOI_2
              option SPPRDT_468_QA
              option SPPRDT_469_OMN
              option SPPRDT_OM_WAS01
              option SPPRDT_OM_WAS02
              option SPPRDT_OM_WAS04
              option SPPRDT_SBSA_OM
              option SPSBSAOM_SCD_IMP
              option NED_CSTM_FRZ_WS9
              option OCBC_CERT_WL12J8
              option PRD_SCD_QA_TH
              option PRODUCT4_DEV
              option SBSAGLRM_WS91
              option SBSAOM_CSTM_DMP
              option SBSAOM_FRZ_BAMSTR
              option SBSAOM_SCD_BAMSTR
              option SPBOI_SCD_CUST01
              option SPBOI_SCD_IMPL3
              option SPCITI_NPP_BUGS01
              option SPNED_FRZ2_NEW
              option SPNED_PROD_QA
              option SPNED_PROD_QA01
              option SPNED_SCD_AUT_WS9
              option SPPRDT122_SCD_MP_1
              option SPPRDT4611_AUTOMP
              option SPPRDT_410_AUTOIP
              option SPPRDT_467_BUGS01
              option SPPRDT_467_QA06
              option SPPRDT_SCD_AUTOMP
              option SPPRDT_SCD_QA12
              option SPPRDT_SCD_QA43
              option SPPRDT_SCD_QA46
              option SPSBSA_PRE_BUG1
              option SP_PRODUCT35_BUGS
              option SWED_463_PROD
              option SWED_SCD_DUMP
              option WLS122_EUROSCHED1
              option WLS122_SPEUROMPL3
              option DUET_CERT
              option LLOYDS_SCD_IMPL1
              option LLOYDS_SCD_IMPL1
              option LLOYDS_SCD_IMPL3
              option LLOYDS_SCD_IMPL4
              option PRD_QA_SP_SCD04
              option SPBOIL_PRD_QA
              option SPLLOYDS_SCD01
              option SPNAGE_CERT01
              option SPNAGE_CERT01
              option SPNED_SCD_AUTO06N
              option SPPRDT10A_SRS
              option SPPRDT_4610_SRSS
              option SPPRDT_468HV_BUG
              option SPPRDT_468_AUTOHV
              option SPPRDT_469_QA06
              option SPPRDT_469_QA06BK
              option SPPRDT_469_QA23
              option SPPRDT_469_QA24
              option SPPRDT_SCD_NEW
              option SPPRDT_SCD_QA21
              option SPPRDT_SCD_QA45
              option SPPRNPP_469_QA4
              option SPPRNPP_SCD_QA
              option SPPRNPP_SCD_QA
              option SPSBSAOM_IMPL10
              option SPSBSA_SCD_QA14
              option SPSBSA_SCD_QA1_NEW
              option SPSBSA_SCD_QA6
              option SPSBSA_SCD_QA7
              option SP_GUITEST
              option ABSA_QA_46_IMPL01
              option CACIB_SAML
              option EURO122_CLUSTER
              option OCBC_CERT_WL12J8
              option PRODUCT3_DEV
              option SPCACIB_BA_MASTER
              option SPCACIB_CUST1
              option SPCACIB_IMPL1
              option SPCACIB_SCD02
              option SPEUROBANK_CUST01
              option SPEUROBANK_CUST02
              option SPEUROBANK_FRZ_MSTR
              option SPEUROBANK_IMPL2
              option SPEUROBANK_IMPL3
              option SPPRDT_469_RET
              option SPPRDT_HAZEL_SECU
              option SPPRDT_SCD_HV2
              option SPPRDT_SCD_HV3
              option SPPRDT_SCD_QA06A
              option SPPRDT_SCD_QA30
              option WLS122_EUROSTAG
              option CICD_PRD_SCHED
              option CICD_PRD_SCHEDIP
              option CICD_PRD_SCHEDMP
              option CICD_PRD_SCHED_HV
              option GS_QA_SCD01
              option NEW_SPNAB_HOTDEP_CL01
              option NEW_SPNAB_HOTDEP_CL04
              option PRDT4610_A_MPDEV
              option SBSAOM_PRD_CLS011
              option SBSAOM_PRE_CLS011
              option SBSAOM_SCD_CL1
              option SP467_LLOYDS_DEV
              option SPNAB_HOTDEP_CL01
              option SPNAB_HOTDEP_CL04
              option SPNAB_SCD_QA8
              option SPNED_CSTM_PROD
              option SPPRDT_4610_MPDEV
              option SPPRDT_468_AUTOMP
              option SPPRDT_468_COREFIX
              option SPPRDT_469_AUTO
              option SPPRDT_469_EURO_org
              option SPPRDT_SCD_INT
              option SPPRDT_SCD_QA50
              option SPPRDT_SCD_QA51
              option SPPRDT_US_FEAT
              option SPPRD_SCD_A1NEW
              option SPSBSA_DMP_AUTO1
              option SPSBSA_PRE_QA1
              option SPSBSA_PROD_QA1
              option SPSBSA_STAG_QA2
              option SPSWED_PROD_LIKE1
              option SPSWED_SCD_AUT
              option SPSWED_SCD_COTS
              option SPSWED_SCD_IMPL3
              option SPSWED_UPG_DUMP
              option SWED467_FRZ_AUT
              option SWED467_FRZ_DUMP
              option SWED_CLSTR_SCD1
              option USPAYMENTS
              option WAS_SEC_HC_CLU011
              option WLS_SEC_HC_CLSTR
              option EURO122_CLUSTER
              option NEW_SPNAB_HOTDEP_CL02
              option NEW_SPNAB_HOTDEP_CL03
              option PRD467_DEV_SIMA01
              option PRD468_DEV_SIMA01
              option PRD469_DEV_SIMA01
              option PRD46_DEV_SIMA01
              option PRDHV_468_LR01
              option PRDT469_EURO_DEV2
              option PRDT_4610A_AUTO01
              option PRD_QA_SCD03
              option PRD_QA_SCD08
              option PRD_QA_SP_AUTO03
              option PRODUCT2_DEV
              option QA_UI_AUTO01
              option SBSAOM_PRD_CLS012
              option SBSAOM_PRE_CLS012
              option SBSAOM_SCD_CL2
              option SPBOI_FRZ_IMPL1
              option SPCACIB_IMPL
              option SPCACIB_SAML2
              option SPCITI_HK1
              option SPCITI_SG_QA1
              option SPCITI_TH_QA1
              option SPEURO_PRE_EURO
              option SPEURO_PROD_EURO
              option SPHSBC_SCHED_QA1
              option SPHSBC_SCHED_QA3
              option SPNAB_HOTDEP_CL02
              option SPNAB_HOTDEP_CL03
              option SPNAGE_CERT01
              option SPNAGE_SCD72
              option SPNAGE_TEST1
              option SPPRDT_4610A_QA35
              option SPPRDT_469_AUTOMP
              option SPPRDT_469_BUGS01
              option SPPRDT_469_BUGS02
              option SPPRDT_469_BUGS03
              option SPPRDT_469_EURO
              option SPPRDT_469_MPBUG
              option SPPRDT_469_QA16N
              option SPPRDT_INT_HV
              option SPPRDT_SCD_QA06B
              option SPPRDT_SCD_QA06C
              option SPPRDT_SCD_QA23
              option SPPRDT_SCD_QA37
              option SPPRDT_SCD_QA40
              option SPPRDT_SCD_QA41
              option SPPRDT_SCD_QA42
              option SPPRD_SCDU_YR
              option SPPRD_SCD_UI01
              option SPPRD_SCD_UI02
              option SPPRD_SCD_UI03
              option SPPRD_SCD_UI04
              option SPRABO_SCD_QA5
              option SPSWED_BA_MASTER
              option SPSWED_PROD_LIKE2
              option SPSWED_SCD_INTGR
              option SWED_CLSTR_SCD2
              option TEST02
              option UI_TEST
              option USPAYMENTS
              option WAS_SEC_HC_CLU012
              option WLS122_EUROSTAG
              option WLS_SEC_HC_CLSTR
              option DEV_469_ARIKYO01
              option HSBCRTP_DEV_SCD01
              option LLOYDS_SCD_BUGS01
              option SPCITI_RUS_BUGS01
              option SPHSBC_SCD_BUGS01
              option SPHSBC_SCD_BUGS02
              option SPPRDT_468_NEW
              option SPPRDT_468_QA02
              option SPPRDT_469_AUTOHV
              option SPPRDT_469_HVBUG
              option SPPRDT_469_HVJ
              option SPPRDT_469_NEW
              option SPPRDT_469_QA
              option SPPRDT_469_QA07
              option SPPRDT_469_QA5
              option SPPRDT_469_TRN
              option SPPRDT_469_TRNMP
              option SPPRDT_469_UPGRD
              option SPPRDT_INFRA2
              option SPPRDT_SCD_QA48
              option SPPRD_HKFPS_INTRM
              option SPRABO_FRZ_BAMSTR
              option SPRABO_SCD_BUGS01
              option SPRABO_SCD_BUGS02
              option USPAYMENTS
              option GS_QA_SCD02
              option LLOYDS_2GVM_SCD011
              option LLOYDS_QA_FRZ01
              option PRD_QA_469_SCD01
              option PRD_QA_SP_SCD05
              option SPBMX_FRZ_BAMSTR
              option SPBMX_PRE_BAMSTR
              option SPBMX_SCD_BAMSTR
              option SPBOI_SCD_IMPL5
              option SPPRDT_467_AUTOMP
              option SPPRDT_469_QA_MY
              option SPPRDT_SCD_QA98
              option SPPRDT_SCD_QA99
              option SPRABO_FRZ_QA1
              option SPRABO_SCD_QA2
              option SPRABO_TEST01
              option HSBC_DEVNPP_SCD01
              option LLOYDS_FRZ_IMPL1
              option PRDT4610A_AUTOHV2
              option PRDT_4610A_AUTOIP
              option PRDT_SCD_AUTOIP2
              option SPBOIL_PRD_QA
              option SPEURO_FRZ_CLUST3
              option SPHSBC_SCHED_QA4
              option SPNAGE_BU_BA_MTR
              option SPNED_FRZ_AUTO05
              option SPNED_SCD_AUTO011
              option SPNED_SCD_AUTO012
              option SPNED_SCD_AUTO08
              option SPPRDT_4610A_DIAS
              option SPPRDT_4610A_QA23
              option SPPRDT_4610_BOI
              option SPPRDT_467_NEW
              option SPPRDT_RFW_AUTOHV
              option SPPRDT_SCDNEW_QA31
              option SPPRDT_SCD_AUTOIP
              option SPPRDT_SCD_QA31
              option SPPRDT_SCD_QA32
              option SPPRDT_SCD_QA5
              option SPPRNPP_4610_QA4
              option SPSBSA_CSTM_PROD
              option SP_LLOYDS_QA1
              option ACNT_SCHED_AUTOM
              option LLOYDS_QA_SCD02
              option PRDT_4610A_AUTOM
              option PRDT_4610A_QA06
              option PRDT_4610_AUTOMY
              option PRDT_4610_DEV
              option PRDT_4611_HV_DEV
              option SNAB_PRD_QA
              option SPCITI_RTPTEST
              option SPEURO_FRZ_CLUST3
              option SPNAB_PRD_QA1
              option SPNAB_PRD_QA2
              option SPPRDT4610_AUTOHV
              option SPPRDT_410_QA23
              option SPPRDT_410_QA35
              option SPPRDT_4610_QA
              option SPPRDT_4610_QA36
              option SPPRDT_4610_QA5
              option SPPRDT_4610_QA7
              option SPPRDT_INFRA3
              option SPPRDT_INFRA6
              option SPPRDT_QA_AUTOM
              option SPPRDT_SCD_QA17N
              option SPRABO_FRZ_CUST01
              option SPSBSA_4610
              option GS_QA_SCD03
              option PRDQA_SPHV_SCD01
              option PRDT_4610A_SCD05
              option PRDT_4610_EURO
              option PRDT_4611_MP_DEV
              option PRDT_SCD_AUTOIP
              option PRDT_SCD_BAMSTR
              option PRDT_SCD_QA06
              option PRDT_SCD_QA06BK
              option PRD_QAHV_SCD03
              option SPCITIRTP_SCD
              option SPCITI_NPPQA
              option SPCITI_RTPTEST
              option SPCITI_RUSSIAQA
              option SPCITI_RUSSIAQA1
              option SPCITI_RUSSIAQA2
              option SPCITI_RUSSIAQA3
              option SPCITI_RUSSIAQA5
              option SPNBG_SCD_QA5
              option SPNED_4610
              option SPPRDT_4610A_QA08
              option SPPRDT_4610_QA10
              option SPPRDT_4610_TRN
              option SPPRDT_467_QA3
              option SPPRDT_INFRA1
              option SPPRDT_SCD_QA52
              option SPRDT_SCD_AUTOHV1
              option CACIB_FRZ_BA_MSTR
              option CT_DEVSP_TVI01
              option GS_QA_46_PROD01
              option GS_QA_SCD01
              option GS_QA_SP_DMP02
              option PRDT4610A_AUTOHV
              option PRDT4610A_AUTOMP
              option PRDT_4610A_QA07
              option PRDT_SCD_IP_IRIM
              option PRD_4610A_FRZ04
              option SAN_SCD_QA
              option SBSAGLRM_WS92
              option SPCACIB_IMPL13
              option SPEURO_FRZ_CLUST1
              option SPPRDT_4610A_QA07
              option SPPRDT_4610A_QA36
              option SPPRDT_4610A_QA5
              option SPPRDT_4610A_QA6
              option SPPRDT_4611_QA23
              option SPPRDT_4611_UI1
              option SPPRDT_4611_UI2
              option SPPRDT_467_AUTO
              option SPPRDT_467_QA2
              option SPPRDT_INFRA4
              option SPPRDT_INFRA_ES
              option SPPRDT_SCD_QA16N
              option SPPRDT_SCD_QA22
              option SPPRDT_SCD_QA7
              option SPPRDT_SCD_QA_IP
              option SPPRD_DEVIP_QA40
              option SPPRD_INTERM_QA1
              option SPPRD_QA_SCD07
              option SPPRD_SCDUI_YR1
              option SPRABO_CLS_ENV2
              option SP_4610A_INFRA
              option GS_SAML_TEST2
              option PRD_QASPUI_AUTO01
              option PRODUCT14_DEV
              option SBSAOM_SCD_QA1
              option SPEURO_FRZ_CLUST2
              option SPPRDT_CDMP
              option SPPRDT_SCD_HV4
              option TES
              option CITI_QA_IP
              option CITI_QA_SCD01
              option GPPSP_FRB_QA01
              option GS_SAML_TEST
              option PRD4610A_BAMASTER
              option PRDT_4610A_SCD12
              option PRD_QA4610A_AUTO7
              option PRD_QA4611_AUTO1
              option PRD_QA_4610A_PEN
              option PRD_QA_SP_SCD13
              option SPCITI_RUSSIA_IP1
              option SPEURO_FRZ_CLUST1
              option SPEURO_FRZ_CLUST2
              option SPHSBC_QA
              option SPNAB_PRE_BAMSTR
              option SPPRDT_SCD_BAMSTR
              option SPRABO_CLS_ENV1
              option SPRABO_SCD_QA4
              option SPRDT4610_AUTOMP1
              option SP_AUTO007
              option STTPRE_BA_MASTER
              option WLS121_EUROSCHED1
              option WLS122_EUROSCHED2
              option PRDQA_SP_MP_SCD02
              option PRDT_467_AUTOIP
              option RPODUCT5_DEV
              option SPPRDT4610_AUTOMP
              option SPRDT_SCD_AUTOHV2
              option BOFA_FRZ_BAMASTER
              option NAGE45_PRE_BAMSTR
              option SPBOFA_FRZ_DUMP
              option SPBOFA_FRZ_QA1
              option SPBOFA_INF_QA
              option SPBOFA_PRE_BAMSTR
              option SPBOFA_PRE_DUMP
              option SPBOFA_PRE_QA
              option SPBOFA_PROD_1B3
              option SPBOFA_SCD_BA_MASTER
              option SPBOFA_SCD_DUMP
              option SPBOFA_SCD_QA
              option SPBOFA_SCD_SANITY
              option SPNAGE_45_CERT01
              option SPNAGE_45_PROD01
              option SPNAGE_BU_BA_MASTER
              option SPNAGE_SCD68
              option SPNAGE_SCD69
              option SPNAGE_SCD71
              option SPNAGE_SCD73
              option SPNAGE_SCD_BA_MASTER
              option SPNAGE_SEPA_DMP
              option SPNAGE_SEPA_FAT
              option SPWPAC_SCD_BA_MASTER
              option AMEX_QA_SP_FRZ01
              option AMEX_QA_SP_STG01
              option SPAMEX_PRE_BAMSTR
              option SPBOIL_PRD_QA
              option SPBOIL_PRE_DUMP
              option SPBOIL_PRE_QA
              option SPBOIL_SCD_QA
              option SPNAGE_SCD74
              option SPNAGE_TEST
              option SPSWED467_CSTM01
              option SPSWED_FRZ_AUTO
              option SPSWED_FRZ_DUMP
              option SPWPAC855_FRDMP5
              option SPWPAC855_FRZ_DUMP
              option SPWPAC855_FRZ_QA
              option SPWPAC_FRZ_BA_MASTER
              option WST_QA_SP_SCD01
              option CITI_IP_DEV_SCD01
              option LLOYDS_SCD_IMPL1A
              option LLOYDS_SCD_IMPL2
              option LLOYDS_SCD_IMPL5
              option LLOYDS_SCD_IMPL6
              option SPBDB_FRZ_BA_MSTR
              option SPBDB_PRE_BA_MSTR
              option SPBOFA_EU_SANITY1
              option SPBOFA_PRD_1C1
              option SPBOI_SCD_CUST08
              option SPCITI_DEV_HK1
              option SPEUROBANK_INT01
              option SPHSBC_DEV_QA1
              option SPHSBC_TCH_RTPS
              option SPLLOYDS_QA_SCD01
              option SPNAB_FRZ_BAMSTR
              option SPNAB_PRD_QA3
              option SPPRDT_467_AUTO_ISS
              option SPPRDT_468_INTRM
              option SPPRDT_SCD_INTGR3
              option SPPRDT_SCD_QA10
              option SPRABO_FRZ_WEBSRV
              option SPSBSA_SCD_BAMSTR
              option SPSBSA_SCD_QA3
              option SPSBSA_STAG_QA1
              option SPSNTR_FRZ_BAMSTR
              option SPSWED_FRZ_IMPL1
              option SPSWED_PRE_BAMSTR
              option SPSWED_SCD_IMPL22
              option SPWPAC855_PRE_QA
              option SWED_QA_SP_SCD02
              option SWED_SCD_AUT1
              option HSBCTCH_RTP
              option SBSA46_FRZ01_BUGS
              option SPAMEX_STG_BAMSTR
              option SPBOIL_FRZ_BAMSTR
              option SPBOIL_FRZ_DUMP
              option SPFRZ_4610_DIAS
              option SPNAB_SCD_QA3
              option SPNBG_SCD_QA1
              option SPNBG_SCD_QA4
              option SPPNPP_411_QA4
              option SPPRDT_411_QA35
              option SPPRDT_411_QA36
              option SPPRDT_RULE_AUTO1
              option SPPRDT_SCD_QA16N
              option SPPRDT_SCD_QA17
              option SPPRDT_SCD_QA39
              option SPPRDT_SCD_QA4
              option SPPRDT_SCHED_BOI1
              option SPPRNPP_4610A_QA4
              option SPPRNPP_SCD_QA4
              option SPSBSA_FRZ1_NEW
              option SPSBSA_PRE_QA
              option WSTPNZ_FRZ_AUTO
              option WSTPNZ_FRZ_BAMSTR
              option WSTPNZ_SCD_BAMSTR
              option WSTPNZ_SCD_CSTM
              option WSTPNZ_SCD_IMPL1
              option WSTPNZ_SCD_QA
              option WST_QA_SP_SCD02
              option HSBCTCH_SCD01
              option NED_PRE_QA1
              option PRODUCT1_DEV
              option SPBOI_SCD_QA3
              option SPDEUT_WLS12
              option SPNAB_PRD_QA1
              option SPNAB_PRD_QA2
              option SPNAB_PRD_QA22
              option SPNAB_PRD_QA52
              option SPNAB_SCD_FIT
              option SPNAB_SCD_FIT1
              option SPNED_PRE_BUGS
              option SPNED_SCD_QA1
              option SPNED_SCD_QA2
              option SPPRDT_469_AU_MP1
              option SPPRDT_RFW_AUTOMP
              option SPPRDT_SCD_QA36
              option SPRABO_FRZ_ED11
              option SPRABO_PRE_QA1
              option SPSBSAOM_SCD_IMP5
              option SPSBSA_PRE_QA2
              option SPSBSA_PROD_QA
              option LLOYDS_SCD_IMPL3A
              option OCBC_QA_SCDMQ09
              option PNC_FRZ_BAMSTR
              option PNC_STAGE_IL
              option PRD_QA_SP_IP01
              option RND_BA_MASTER
              option SPCITI_NPPQA1
              option SPNAB_SCD_QA2
              option SPNED_469_FRZB01
              option SPOCBC_FRZ02
              option SPPRDT_466_QA1
              option SPPRDT_469_QA_MY
              option SPPRDT_SCD_QA
              option SPPRDT_SCD_QA06
              option SPPRDT_SCD_QA06BK
              option SPPRDT_SCD_QA35
              option SPPRDT_SCD_QA_MY
              option SPPRD_IP_QA01
              option SPRABO_FRZ_ED12
              option SPSBSA_CSTM_STAG
              option SPSBSA_DMP_AUTO
              option SPSBSA_FRZ_AUTO
              option SPSBSA_FRZ_QA1
              option SPSBSA_SCD_QA1
              option SPSBSA_SCD_QA5               
        input#logs-upload.mr-2.filestyle.col-sm-9(type="file", name="file", data-text="upload log file", data-btnClass="btn-outline-success", data-buttonBefore="true", data-placeholder="", data-source="")                                            
        #logs-progress.mt-3.progress.invisible
          #logs-progress-bar.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
 