extends layout

block content 
  #details.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-lg(role="document")
      .modal-body.bg-light  
  if view != null
    case view
      when "table"
        include activities
      when "split"
        include splitview
      when "flow"
        include payment_flow      
      default
        include blank
  else
    include blank 
