extends layout

block content
  #details.modal.fade.show(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-lg(role="document")
      .modal-content
        .modal-header.text-white.bg-success
          .modal-title
          | Payment activities
          button( type="button" class="close" data-dismiss="modal" aria-label="Close")
            span( aria-hidden="true")&times;
        .modal-body.bg-light 
  if view != null
    case view
      when "table"
        include activities
      when "split"
        include splitview
      when "flow"
        include payment_flow      
      default
        include blank
  else
    include blank 
