extends layout

block content  
  .container.mt-5
    h3.mt-5=identity["title"]
    br
    blockquote.blockquote
      p.small=identity["description"]
      p.small 
        span
          | Please download 
        a.btn-link(href="/documentation/cots/COTS_HV_project_name.xlsx") COTS Template XLS 
        span 
          | and copy customer requirements table into the relevant tabs in template, then rename file including a project name and upload it back to server.        
    br
    
    if data == null 
      .row.mt-5
        .col-md-12.mt-5
          center.mt-5
            h3.mt-5 Comming very very  very soon 
            br             
    else
      .row 
        .container(id="cots-container", data-evn = "eurobank")                     
          .row            
            .col-md-12
              input#cots-upload.filestyle.col-sm-9(type="file", name="file", data-text="Upload COTS excel document", data-btnClass="btn-outline-primary", data-buttonBefore="true", data-placeholder="", data-source=)                                 
          .row
            .col-md-12
              #cots-progress.progress.mt-1.invisible
                #cots-progress-bar.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%; height: 20px;') 
      #cots-ctx.row(class = (Object.keys(data).length == 0 ? "hidden" : ""))
        .col-12.col-md-4
          br
          h5
            | Navigation 
          #treecots.treeview.mr-1
        #cots.col-12.col-md-8.bg-white
          include cotsdoc