extends layout

block content
  .container.mt-5      
    .col-md-auto.mt-5
      include docs/static_data    
    br
    br
    .container          
      form#needs-validation(action='/webservices/execute' , method="POST", novalidate)
          .form-group.row
            label.col-sm-3.col-form-label(for='inputuserid') User Id
            .col-sm-8
              input#inputOffice.w-100.form-control(name="USER_ID", type='text', placeholder='', value='' , required)                            
          .form-group.row
            label.col-sm-3.col-form-label(for='inputprofileid') Profile Id
            .col-sm-8
              input#inputDepartment.w-100.form-control(name="PROFILE_ID", type='text', placeholder='', value='', required) 
          .form-group.row
            label.col-sm-3.col-form-label(for='inputprofileuid') Profile Uid
            .col-sm-8
              input#inputBIC.w-100.form-control(name="PROFILE_UID", type='text', placeholder='', value='', required)  
          br
          .form-group.row.justify-content-end
            .col-sm-9
              button.btn.btn-primary.float-left(type='submit') Send SOAP request
              a.btn.btn-link.float-right( href='/webservice/reset') Reset all

