extends layout

block content
  - var profile = true
  - var item = service.flow_item        
  .container.mt-5      
    .col-md-auto.mt-5
      include utils/service_docs    
    br    
    br
    .container      
      h5.ml-2 Web service card as it appears in Payment Flows       
      ul.timeline
        include flowitems/service_profile
      br
      br    
    include utils/service_form

