#sidebar           
  .mt-2.ml-2.mr-2.p-2(style="background: #ecf0f1;")
    h5#tree_title.mb-2
      | List of basic use cases
    span#mid-search.mr-1
      p.font-weight-bold.mb-2.text-success Search Flow 
      .d-flex.justify-content-between
        input#inputsearch.text-success.w-100(type='text', placeholder=' search something ...', value='')
        button#btnsearch.btn.btn-sm.btn-success.ml-1.mr-1.text-white(type='button') 
          i.fas.fa-search
        button#btnclearsearch.btn.btn-sm.ml-1.mr-1.text-success(type='button')
          i.fas.fa-sync
    span#similarity-search.mr-1
      p.font-weight-bold.mb-2.text-success Similar flows in %
      .slidecontainer.mt-3
        input#similarityRange.slider(type="range" min="1" max="100" value="1")
        span.range-slider__value 0 

  #treeflows.mt-2.treeview