#sidebar
  table.table.table-fixed
    thead
      tr
        th
          .row#mid-search
            .col-md-8
              label.sr-only(for='input-search') Search Tree:
              input#input-search.form-control(type='input', placeholder='MID to search...', value='')        
            .col-md-4
              button#btn-clear-search.btn.btn-default(type='button')
                i.fas.fa-sync 
          .row#similarity-search
            .col-md-12
              center.mt-5.ml-3                               
                input#similar(data-slider-id='similarSlider', type="text", data-slider-min="0", data-slider-max="100", data-slider-step="1", data-slider-value="87")
    tbody
      tr
        td          
          #treecots.treeview