.container(style="max-width: 125%")
	center(style="margin-top: 6rem;")
		h1.display-4.col-auto Compare Payment Flows 
		h5.mt-2.col-auto 
			| The similarity between flows is 87%
		br 
	#splitview(style="margin-top: 3rem;")
		#left.split    
			.row#payflow-left(style="margin: 5px;")
				.col-md-12.mt-5                
					center
						h4.col-auto MID : #{data_left["mid"]}						
						br 
					ul.timeline(style="margin-top: 1.5rem;")
						if data_left["items"] != null && data_left["items"] != undefined
							each item in data_left["items"]  
								include flow_item
		#right.split(style="margin-left: 5px; background-color: honeydew; border: 1px solid seagreen;")
			.row#payflow-right(style="margin: 5px;")
				.col-md-12.mt-5                
					center
						h4.col-auto MID : #{data_right["mid"]}
						br 
					ul.timeline(style="margin-top: 1.5rem;")
						if data_right["items"] != null && data_right["items"] != undefined
							each item in data_right["items"]  
								include flow_item


