.container 
  .row#payflow_subflow
    .col-md-12.mt-5
      center.mt-5
        h3.col-auto #{data["name"]} 
        br
        blockquote.blockquote
          p.mb-0.small.text-info #{data["description"]}
        a.btn.btn-outline-info.mt-3.mr-2(role="button", href=data["guide_url"],  target="_blank" ) Business Guide
        br
      br        
      ul.timeline
        if data["items"] != null && data["items"] != undefined
          each item in data["items"]  
           include flow_item
      br          
            

               