.row.my-lg-4
  .col-md-12
    .page-header
      center 
        h3 High Value payments flow
    br
    ul.timeline
      .step1
        include ../flowitems/channel_swift_in
      .step2
        include ../flowitems/queue_droped_out
      .step3
        include ../flowitems/interface_compliance
      .step4
        include ../flowitems/interface_fx
      .step5
        include ../flowitems/interface_cdb
      .step6
        include ../flowitems/queue_mop_failure
      .step7
        include ../flowitems/queue_fees
      .step8
        include ../flowitems/interface_bi
      .step9
        include ../flowitems/interface_posting
      .step10
        include ../flowitems/queue_backout
      .step11
        include ../flowitems/channel_clearing_out
    