.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 Accounting System
br
blockquote.blockquote
  p.mb-0.small
    | This guide describes GPP’s standard usage of the Fndt (FuNDs Transfer) Message for the Posting interface. This interface between GPP and the financial institution HOST system is responsible for providing posting information to the HOST                   
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Technical Guide - Fndt Message Usage for Posting Interface.pdf") Technical Guide
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/posting/Posting Request.xml") XML Request
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/posting/Posting Response -  Successful.xml") XML Response
