.row
  col-md-2
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-arrow-circle-left.fa-2x.mr-2
  col-md-10
    h2.mt-1 Balance Inquiry
br
blockquote.blockquote
  p.mb-0
    | This guide describes Global PAYplus (GPP)’s standard Balance Inquiry interface, between GPP and the Financial Institution’s HOST responsible for providing balance check information. GPP Standard Balance Inquiry is an XML interface based on GPP’s Fndt (FuNDs Transfer) message format. 
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Technical Guide - Fndt Message Usage for Balance Inquiry Interface.pdf") Technical Guide
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/balance/BalanceInquiryRequest.xml") XML Request
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/balance/EarmarkReleaseRequest.xml") XML Earmark Release Request
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/balance/Balance Inquiry Response - successful - earmark provided.xml") XML Response
