.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 Clearing system
br
blockquote.blockquote
  p.mb-0.small
    | This business guide describes the processing of clearing houses (local or regional) and SWIFT certified by Global PAYplus (GPP). The details provided is additional information specific for the clearings, on top of the offering, for example, Single Payment, Mass Payment, Immediate Payment.
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Business Guide Clearing Processing.pdf") Business Guide Clearing
