.row
  col-md-2
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-arrow-circle-left.fa-2x.mr-2
  col-md-10
    h2.mt-1 Compliance
br
blockquote.blockquote
  p.mb-0
    | This guide describes Global PAYplus (GPP)’s standard usage of the Fndt (FuNDs Transfer) message for the Compliance interface between GPP and the Financial Institution’s Compliance system. Thisinterface is an XML interface based on the GPP Fndt (FuNDs Transfer) message format.
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Technical Guide - Fndt Message Usage for Compliance Interface.pdf") Technical Guide 
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/compliance/ComplianceRequest.xml") XML Request
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/compliance/ComplianceFirstResponse.xml") XML First Response
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/compliance/ComplianceSecondResponse.xml") XML Second Response
