.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 FX Engine
br
blockquote.blockquote
  p.mb-0.small
    | This guide describes Global PAYplus (GPP) standard usage of the Fndt (FuNDs Transfer) message for the Online Foreign Exchange (FX) interface between GPP and the Financial Institution’s Online FX system. This interface is an XML interface based on the GPP Fndt (FuNDs Transfer) message format.
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Technical Guide - Fndt Message Usage for Online FX Interface.pdf") Technical Guide
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceRequest.xml") Request (RRSTP) 
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceFirstResponse.xml") Request (GETRATE)
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Request (ACCLOCK)
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Request (VALLOCK)  
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Request (REJRATE)
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Get Deal (GETDEALS)
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceRequest.xml") Response (RRSTP) 
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceFirstResponse.xml") Response (GETRATE)
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Response (ACCLOCK)
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Response (VALLOCK)  
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Response (REJRATE)
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/fx/ComplianceSecondResponse.xml") Response (GETDEALS)   
