.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3 Mass Payments
br
blockquote.blockquote
  p.mb-0.small
    | Global PAYplus (GPP) Mass Payments enables Financial Institutions (FI) to receive, process, and send files that contain multiple payment, collection, and related transactions. GPP Mass Payments: Receives files that contain multiple transactions from clients, clearing partners/partner banks and clearing systems,  Distributes transactions into chunks (manageable groups) and handles the chunks simultaneously using parallel processing,  Generates single or consolidated postings,  Generates outgoing files 
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Business Guide Mass Payments - CT.pdf") Business Guide CT
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Business Guide Mass Payments - DD.pdf") Business Guide DD
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Business Guide SEPA.pdf") Business Guide SEPA
