.container
  .row
    .col.col-md-3
      h5.mt-3 Message schemas 
      h6.mt-1 xsd for upload validation
    .col.col-md-9
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.001.001.06.xsd ") pain.001.001.06
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.002.001.08.xsd ") pain.002.001.08
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.007.001.02.xsd ") pain.007.001.02
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.008.001.06.xsd ") pain.008.001.06
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.001.001.06.xsd ") pain.001.001.06
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.002.001.08.xsd ") pain.002.001.08
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.007.001.02.xsd ") pain.007.001.02
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.008.001.06.xsd ") pain.008.001.06
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.001.001.06.xsd ") pain.001.001.06 
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.002.001.08.xsd ") pain.002.001.08
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.007.001.02.xsd ") pain.007.001.02
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.008.001.06.xsd ") pain.008.001.06
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.007.001.02.xsd ") pain.007.001.02
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role="button", href="/schemas/pain.008.001.06.xsd ") pain.008.001.06
  br
