.container
  .row
    .col.col-md-3
      h5.mt-3 Message schemas 
      h6.mt-1 xsd for upload validation
    .col.col-md-9
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', class = 'invisible', href='/schemas/acmt.023.001.01.xsd') acmt.023.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/acmt.024.001.01.xsd') acmt.024.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/admi.014.001.02.xsd') admi.014.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/AuditTrailDefinition.xsd') AuditTrailDefinition.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.026.001.05.xsd') camt.026.001.05.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.028.001.06.xsd') camt.028.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.029.001.03.xsd') camt.029.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.029.001.04.xsd') camt.029.001.04.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.029.001.06.xsd') camt.029.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.035.001.03.xsd') camt.035.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.052.001.02.xml') camt.052.001.02.xml
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.052.001.02.xsd') camt.052.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.053.001.02.xsd') camt.053.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.054.001.02.xsd') camt.054.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.054.001.03.xsd') camt.054.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.054.001.04.xsd') camt.054.001.04.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.055.001.04.xsd') camt.055.001.04.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.055.001.06.xsd') camt.055.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.056.001.01.xsd') camt.056.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.056.001.02.xsd') camt.056.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/camt.056.001.05.xsd') camt.056.001.05.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/chips_31.xsd') chips_31.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/CHIPS_Funds.xsd') CHIPS_Funds.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/CHIPS_Service.xsd') CHIPS_Service.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/camt.029.001.04.xsd') camt.029.001.04.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/camt.029.001.06.xsd') camt.029.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/camt.056.001.02.xsd') camt.056.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/mdte.001.001.03.xsd') mdte.001.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/mdte.002.001.03.xsd') mdte.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/pacs.002.001.04.xsd') pacs.002.001.04.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/pacs.004.001.03.xsd') pacs.004.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/pain.009.001.03.xsd') pain.009.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/pain.010.001.03.xsd') pain.010.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/pain.011.001.03.xsd') pain.011.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/AC/pain.012.001.03.xsd') pain.012.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/camt.029.001.03.xsd') camt.029.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/camt.054.001.03.xsd') camt.054.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/camt.055.001.02.xsd') camt.055.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/camt.056.001.01.xsd') camt.056.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/DIASMCTFH.xsd') DIASMCTFH.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/DIASSCTFH.xsd') DIASSCTFH.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/pacs.002.001.03.xsd') pacs.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/pacs.004.001.02.xsd') pacs.004.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/pacs.008.001.02.xsd') pacs.008.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/pain.001.001.03.xsd') pain.001.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/DIAS/pain.002.001.03.xsd') pain.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SCT/camt.029.001.03.xsd') camt.029.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SCT/camt.056.001.01.xsd') camt.056.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SCT/pacs.002.001.03S2.xsd') pacs.002.001.03S2.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SCT/pacs.004.001.02.xsd') pacs.004.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SCT/pacs.008.001.02.xsd') pacs.008.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SDD/camt.056.001.01.xsd') camt.056.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SDD/pacs.002.001.03.xsd') pacs.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SDD/pacs.002.001.03S2.xsd') pacs.002.001.03S2.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SDD/pacs.003.001.02.xsd') pacs.003.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SDD/pacs.004.001.02.xsd') pacs.004.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ClearingSchemas/SDD/pacs.007.001.02.xsd') pacs.007.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/CommonTypes.xsd') CommonTypes.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/camt.056.001.01.xsd') camt.056.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/camt.056.001.02.xsd') camt.056.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/MPEDDCdfBlkDirDeb.xsd') MPEDDCdfBlkDirDeb.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/MPEDDDnfBlkDirDeb.xsd') MPEDDDnfBlkDirDeb.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/MPEDDIdfBlkDirDeb.xsd') MPEDDIdfBlkDirDeb.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/pacs.002.001.03.xsd') pacs.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/pacs.003.001.02.xsd') pacs.003.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/pacs.004.001.02.xsd') pacs.004.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/dd/pacs.007.001.02.xsd') pacs.007.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/ExchangeRateUpload.xsd') ExchangeRateUpload.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/fed_10.xsd') fed_10.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/FED_Funds.xsd') FED_Funds.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/FED_Service.xsd') FED_Service.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/FundtechCanonicalModel.xsd') FundtechCanonicalModel.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/FundtechCanonicalPyamentModel.xsd') FundtechCanonicalPyamentModel.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/FundTech_ACMT.XSD') FundTech_ACMT.XSD
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admi.002.001.01.xsd') admi.002.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admi.004.001.01.xsd') admi.004.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admi.004.001.02.xsd') admi.004.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admn.001.001.01.xsd') admn.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admn.002.001.01.xsd') admn.002.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admn.003.001.01.xsd') admn.003.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admn.004.001.01.xsd') admn.004.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admn.005.001.01.xsd') admn.005.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/admn.006.001.01.xsd') admn.006.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/ctrl.001.001.01.xsd') ctrl.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Admin.ControlFile.01.xsd') G3.Admin.ControlFile.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Admin.Message.Reject.01.xsd') G3.Admin.Message.Reject.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.Echo.Request.01.xsd') G3.Real-Time.Echo.Request.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.Echo.Response.01.xsd') G3.Real-Time.Echo.Response.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.Sign.Off.Request.01.xsd') G3.Real-Time.Sign.Off.Request.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.Sign.Off.Response.01.xsd') G3.Real-Time.Sign.Off.Response.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.Sign.On.Request.01.xsd') G3.Real-Time.Sign.On.Request.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.Sign.On.Response.01.xsd') G3.Real-Time.Sign.On.Response.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.System.Event.Notification.01.xsd') G3.Real-Time.System.Event.Notification.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/G3.Real-Time.System.Event.Notification.02.xsd') G3.Real-Time.System.Event.Notification.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/administrative/head.001.001.01.xsd') head.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/alerts/AlertsNotification.xsd') AlertsNotification.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/camt.029.001.03.xsd') camt.029.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/camt.056.001.01.xsd') camt.056.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/G3.Real-Time.Credit.Transfer.01.xsd') G3.Real-Time.Credit.Transfer.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/G3.Real-Time.Direct.Debit.01.xsd') G3.Real-Time.Direct.Debit.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/G3.Real-Time.Payment.Cancellation.01.xsd') G3.Real-Time.Payment.Cancellation.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/G3.Real-Time.Payment.Reversal.01.xsd') G3.Real-Time.Payment.Reversal.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/G3.Real-Time.Payment.Status.01.xsd') G3.Real-Time.Payment.Status.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/G3.Real-Time.Resolution.Of.Investigation.01.xsd') G3.Real-Time.Resolution.Of.Investigation.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/head.001.001.01.xsd') head.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/pacs.002.001.03.xsd') pacs.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/pacs.003.001.02.xsd') pacs.003.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/pacs.007.001.02.xsd') pacs.007.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/real-time/pacs.008.001.02.xsd') pacs.008.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/camt.053.001.02.xsd') camt.053.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/G3.Real-Time.Bank.Statement.Request.01.xsd') G3.Real-Time.Bank.Statement.Request.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/G3.Real-Time.Bank.Statement.Response.01.xsd') G3.Real-Time.Bank.Statement.Response.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/G3.Real-Time.SLA.Report.01.xsd') G3.Real-Time.SLA.Report.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/G3.Report.Bank.Statement.01.xsd') G3.Report.Bank.Statement.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/head.001.001.01.xsd') head.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/psla.001.001.01.xsd') psla.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/stmt.001.001.01.xsd') stmt.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/G3_RT_Schema/reports/stmt.002.001.01.xsd') stmt.002.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/gpp_sp_dev.xsd') gpp_sp_dev.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/GroupActions.xsd') GroupActions.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/head.001.001.01.xsd') head.001.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/FIXML-4.4-Container.xsd') FIXML-4.4-Container.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-components-base-4-4.xsd') fixml-components-base-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-components-impl-4-4.xsd') fixml-components-impl-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-datatypes-4-4.xsd') fixml-datatypes-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-fields-base-4-4.xsd') fixml-fields-base-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-fields-impl-4-4.xsd') fixml-fields-impl-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-order-base-4-4.xsd') fixml-order-base-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-order-impl-4-4.xsd') fixml-order-impl-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-quotation-base-4-4.xsd') fixml-quotation-base-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/fixml-quotation-impl-4-4.xsd') fixml-quotation-impl-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/FXOrdersV001.xsd') FXOrdersV001.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/FXQuotesV001.xsd') FXQuotesV001.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/FXT-FIXML-4-4.xsd') FXT-FIXML-4-4.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/soap-envelope-1.2.xsd') soap-envelope-1.2.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BAML/xml.xsd') xml.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BOC/AccountLookup.xsd') AccountLookup.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BOC/BOC_AccountLookup_fromGPP_ex1.xml') BOC_AccountLookup_fromGPP_ex1.xml
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BOC/BOC_AccountLookup_toGPP_ex1.xml') BOC_AccountLookup_toGPP_ex1.xml
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/BOC/BOC_AccountLookup_toGPP_ex2.xml') BOC_AccountLookup_toGPP_ex2.xml
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/FCIB/HeartbeatMessage.xsd') HeartbeatMessage.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/CMS/CentralMessagingServiceEMOV2_0.xsd') CentralMessagingServiceEMOV2_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/CMS/TechnicalEMOV2_0.xsd') TechnicalEMOV2_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/DebitOrderMandateValidateAccountIFXV1_0.xsd') DebitOrderMandateValidateAccountIFXV1_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/DebitOrderMandateValidateAccountSBGV1_0.xsd') DebitOrderMandateValidateAccountSBGV1_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/DebitOrderMandateValidateAccountSRVV1_0.xsd') DebitOrderMandateValidateAccountSRVV1_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/HSM/MessageHeadersV2_0.xsd') MessageHeadersV2_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/HSM/PS_HSM_SecurityAuthenticateMessageIFXV1_0.xsd') PS_HSM_SecurityAuthenticateMessageIFXV1_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/HSM/PS_HSM_SecurityAuthenticateMessageSRVV1_0.xsd') PS_HSM_SecurityAuthenticateMessageSRVV1_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/SBSA/MessageHeadersV1_0.xsd') MessageHeadersV1_0.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/interface/transmissioninfo.xsd') transmissioninfo.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/loadPostingInfo.xsd') loadPostingInfo.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/LoadProfile.xsd') LoadProfile.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/LoginService.xsd') LoginService.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/MassPayment.xsd') MassPayment.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/mdte.001.001.02.xsd') mdte.001.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/mdte.001.001.03.xsd') mdte.001.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/mdte.002.001.02.xsd') mdte.002.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/mdte.002.001.03.xsd') mdte.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/MessageUnifiedGateway.xsd') MessageUnifiedGateway.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/MPEDDIdfBlkDirDeb.xsd') MPEDDIdfBlkDirDeb.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/MPEDDSdfBlkDirDeb.xsd') MPEDDSdfBlkDirDeb.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/MsgTableDefinition.xsd') MsgTableDefinition.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/nacha/nacha.001.xsd') nacha.001.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/nacha/nacha_ack.xsd') nacha_ack.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/nacha/nacha_admin.xsd') nacha_admin.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/nacha/nacha_ct.xsd') nacha_ct.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/nacha/nacha_dd.xsd') nacha_dd.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/nacha/nacha_rtn.xsd') nacha_rtn.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/OFAC.xsd') OFAC.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/OFACCDBDefinition.xsd') OFACCDBDefinition.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.002.001.03.xsd') pacs.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.002.001.03S2.xsd') pacs.002.001.03S2.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.002.001.04.xsd') pacs.002.001.04.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.002.001.06.xsd') pacs.002.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.002.001.07.xsd') pacs.002.001.07.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.003.001.02.xsd') pacs.003.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.003.001.03.xsd') pacs.003.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.004.001.02.xsd') pacs.004.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.004.001.03.xsd') pacs.004.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.004.001.05.xsd') pacs.004.001.05.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.007.001.02.xsd') pacs.007.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.008.001.01.xsd') pacs.008.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.008.001.02.xsd') pacs.008.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.008.001.03.xsd') pacs.008.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.008.001.05.xsd') pacs.008.001.05.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.008.001.06.xsd') pacs.008.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.009.001.02.xsd') pacs.009.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pacs.009.001.03.xsd') pacs.009.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.001.001.02.xsd') pain.001.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.001.001.03.xsd') pain.001.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.001.001.06.xsd') pain.001.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.002.001.02.xsd') pain.002.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.002.001.03.xsd') pain.002.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.002.001.06.xsd') pain.002.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.002.001.08.xsd') pain.002.001.08.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.007.001.02.xsd') pain.007.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.008.001.01.xsd') pain.008.001.01.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.008.001.02.xsd') pain.008.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.008.001.04.xsd') pain.008.001.04.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.008.001.06.xsd') pain.008.001.06.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.009.001.02.xsd') pain.009.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.009.001.03.xsd') pain.009.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.010.001.02.xsd') pain.010.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.010.001.03.xsd') pain.010.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.011.001.02.xsd') pain.011.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.011.001.03.xsd') pain.011.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.012.001.03.xsd') pain.012.001.03.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.013.001.05.xsd') pain.013.001.05.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/pain.014.001.05.xsd') pain.014.001.05.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/PaymentsNotificationEventsV001.xsd') PaymentsNotificationEventsV001.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/PaymentsNotificationV001.xsd') PaymentsNotificationV001.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/prule-resource-definitions.xsd') prule-resource-definitions.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/QExplorerTaskInput.xsd') QExplorerTaskInput.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/QExplorerUDQRefresh.xsd') QExplorerUDQRefresh.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/remt.001.001.02.xsd') remt.001.001.02.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/SCTIcfBlkCredTrf.xsd') SCTIcfBlkCredTrf.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/sms.xsd') sms.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/StaticDataCommonTypes.xsd') StaticDataCommonTypes.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/Tasks.xsd') Tasks.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/UC_acclkup_FndtMsgBatch.xsd') UC_acclkup_FndtMsgBatch.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/swift-common.xsd') swift-common.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_101.xsd') SWIFT_101.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_102.xsd') SWIFT_102.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_103.xsd') SWIFT_103.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_198_027.xsd') SWIFT_198_027.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_198_028.xsd') SWIFT_198_028.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_198_036.xsd') SWIFT_198_036.xsd
      a.btn.btn-sm.btn-outlinalexpe-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_198_037.xsd') SWIFT_198_037.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_198_038.xsd') SWIFT_198_038.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_200.xsd') SWIFT_200.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_202.xsd') SWIFT_202.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_202COV.xsd') SWIFT_202COV.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_203.xsd') SWIFT_203.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_204.xsd') SWIFT_204.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_210.xsd') SWIFT_210.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_298_011.xsd') SWIFT_298_011.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_298_012.xsd') SWIFT_298_012.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_298_013.xsd') SWIFT_298_013.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_298_014.xsd') SWIFT_298_014.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_400.xsd') SWIFT_400.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_900.xsd') SWIFT_900.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_910.xsd') SWIFT_910.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_940.xsd') SWIFT_940.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_941.xsd') SWIFT_941.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_942.xsd') SWIFT_942.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_950.xsd') SWIFT_950.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_970.xsd') SWIFT_970.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_971.xsd') SWIFT_971.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_972.xsd') SWIFT_972.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_ACK.xsd') SWIFT_ACK.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_NX9X.xsd') SWIFT_NX9X.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/unified_swift/SWIFT_PSM.xsd') SWIFT_PSM.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/USClearing_Common.xsd') USClearing_Common.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/VerifyAccountIdentityReplyV001.xsd') VerifyAccountIdentityReplyV001.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/VerifyAccountIdentityV001.xsd') VerifyAccountIdentityV001.xsd
      a.btn.btn-sm.btn-outline-dark.mt-3.mr-3(role='button', href='/schemas/xbean_extensions.xsdconfig') xbean_extensions.xsdconfig
  br


