.container
  .row
    .col.col-md-2
      h5.mt-1 Eligible formats
    .col.col-md-9
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.001.001.06.xsd ") pain.001.001.06.xsd 
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.002.001.08.xsd ") pain.002.001.08.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.007.001.02.xsd ") pain.007.001.02.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.008.001.06.xsd ") pain.008.001.06.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.001.001.06.xsd ") pain.001.001.06.xsd 
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.002.001.08.xsd ") pain.002.001.08.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.007.001.02.xsd ") pain.007.001.02.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.008.001.06.xsd ") pain.008.001.06.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.001.001.06.xsd ") pain.001.001.06.xsd 
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.002.001.08.xsd ") pain.002.001.08.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.007.001.02.xsd ") pain.007.001.02.xsd
      a.btn.btn-sm.btn-outline-info.mt-3.mr-2(role="button", href="/schemas/pain.008.001.06.xsd ") pain.008.001.06.xsd
  br
