.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 MOP and Channels
br
blockquote.blockquote
  p.mb-0.small
    | Method of Payment defines the means via which a payment is executed / delivered (for example, Book Transfer, SWIFT, via the RTGS/Clearing House). The method of payment determines many aspects of the processing such as: Clearing Settlement account (when using RTGS such as TARGET), Value date determination (by taking into account the cut-off restrictions & the relevant calendars to be used), Formats and message types to be used, Whether membership validation is required (e.g. EBA membership), Whether exchange of bilateral keys or RMA required, Whether routing through correspondents is allowed or not.
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Business Guide Method of Payment.pdf") Business Guide MOP