.row
  col-md-2
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-arrow-circle-left.fa-2x.mr-2
  col-md-10
    h2.mt-1 Acknowledgements and Confirmations
br
blockquote.blockquote
  p.mb-0
    | The Acknowledgments and Confirmations business service enables GPP to process the following types of notices:  Acknowledgment: For each transmitted transaction message, GPP can receive and process acknowledgment messages, Confirmation: For SWIFT-based message flows that implement the optional SWIFTNet FINCopy service, the SWIFTNet network enables a third party to return a confirmation or rejection message to the message sender. 
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP Business Guide Acknowledgements and Confirmations.pdf") Business Guide Acknowledgements
