.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 Static Data Services
br
blockquote.blockquote
  p.mb-0.small
    | This SOA Guide describes GPP Web services that are based on a Service-Oriented architecture     (SOA) concept, which enables third party applications to interact with GPP. It includes information about these services: • ApplyChangesService: Applies recent updates made to static data.  • LoadProfileService: Loads a specific profile entry according to the service request.   • ProfileActionsService: Takes an action, such as create or delete, on a profile. • ProfileListService: Loads a list of applicable profile attributes per search criteria. 
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP SOA Guide Static Data.pdf") SOA Guide Static Data
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href=service["wsdl"]) WSDL File
