.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 STP Validation Service
br
blockquote.blockquote
  p.mb-0.small
    | The STP Validation Service (STPRulesService) increases Straight Through Processing (STP) rates for payment messages. This service can be used by customers before the messages are processed by GPP. This service enhances payment processing by eliminating errors and omissions before they can cause a delay in payment. This service is based on a business rule that defines an STP  alidation profile. This profile consists of payment attribute validations that are performed on  he payment. For example, when sending a tax payment to a certain country, the beneficiary  ccount number must be 9 or 10 alphanumeric characters and payment details must not exceed 32  WIFT-compliant characters 
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP SOA Guide STP Validation.pdf") Technical Guide
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/cdb/Account Lookup Request - Debit.xml") XML Request
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/cdb/Account Lookup Response - Debit - Successful.xml") XML Response
