.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 Tasks Services
br
blockquote.blockquote
  p.mb-0.small
    | GPP is a multi-office system where all offices share the same application server but also  equire performing these maintenance activities according to the office local time. In other  ord, the maintenance activities are done at the office local time and for the office data only. At the end of each business day, GPP must engage in sequential Start of day (SOD) activities in preparation for the following business day. Note: Banks can set up scripts for SOD activities  epending on their operational and functional needs:  Run SOD at the end of the previous day   un SOD at the beginning of a business day The time of day may also vary, for example performing  OD at 18:00 and starting to work as if the next day has begun while in fact the relevant  essages will only be sent the following day. GPP supports the following:  If needed, database  ackup can be done while the system is online, which means that users can continue working on it.  Running SOD per office (this means that offices in different countries run SOD according to their  local time). The SOD activities include generic maintenance tasks essential for proper  peration of the application 
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP SOA Guide Tasks.pdf") Technical Guide
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/cdb/Account Lookup Request - Debit.xml") XML Request
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/cdb/Account Lookup Response - Debit - Successful.xml") XML Response
