.row
  .col-md-1
    button.btn.btn-link(onclick="goBack()")
      i.fa.fa-angle-double-left.fa-2x.mr-2
  .col-md-11.mdoc
    h3.mt-1 Actions on Payments Services
br
blockquote.blockquote
  p.mb-0.small
    | GPP processes and manages payments. As part of the message processing flow, the payment is always associated with a message status (msg sts). When a payment reaches the end of processing,the status is Complete. Where a payment is being held for manual intervention, it would be set to Repair or any other available/relevant status.
    br
    a.btn.btn-outline-info.mt-3.mr-2(role="button", href="/documentation/GPP SOA Guide Action On Payments.pdf") Technical Guide
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/cdb/Account Lookup Request - Debit.xml") XML Request
    a.btn.btn-outline-success.mt-3.mr-2(role="button", href="/documentation/cdb/Account Lookup Response - Debit - Successful.xml") XML Response
