- var value = (record != null) ? record["INTERFACE_TYPE"] : ""
if "RITS" == value || "RENTAS2MYR_IN" == value || "CLEARING" == value || "SPBI" ==value
  include ../docs/clearing_systems
if "STAT_DATA" == value
  include ../docs/data_upload
if "SWIFT_IN" == value || "FEEDER_UPI" == value || "FEEDER" == value || "MOP" == value
  include ../docs/mop_channels
if "ACK" == value
  include ../docs/notifications_channels
if "BULK" == value || "MASSPMNTS" == value
  include ../docs/mass_payments


