#editflow.row
  .col-md-12.mt-5                 
    ul.timeline
      //if data["items"] != null && data["items"] != undefined
        //each item in data["items"] 
          //- var current = item["current"]              
          //case current["type"]
            //when "channel"
              //include flowitems/channel_profile
            //when "interface"
              //include flowitems/interface_profile
            //default
              //include flowitems/interface_profile