select#inlineFormFlow.form-control-lg.col-sm-7.custom-select.mb-2.mr-sm-4.mb-sm-0.flow-select-font(name="flow")
  option(selected) from the list ...
  option(value='oscb') Outward Single Customer/Bank Payment 
  option(value='iscb') Inward Single Customer/Bank Payment
  option(value='or') Outwards Returns
  option(value='ir') Inwards Returns
  option(value='ibp') Inward Bulk Payments
  option(value='ntr') Notice to Receive
  option(value='mpoct') MP Outward Credit Transfer
  option(value='mpict') MP Inward Credit Transfer
  option(value='mpcfoct') MP Cancellation for Outward Credit transfer
  option(value='mporrfict') MP Outward Return/Reject for Inward CT
  option(value='mpirfoct') MP Incoming Return for Outward CT
  option(value='mpodd') MP Outward Direct Debit
  option(value='mpidd') MP Inward Direct Debit
  option(value='mporfcdd') MP Outward Request for Cancellation DD
  option(value='mpirfcdd') MP Inward Request for Cancellation DD
  option(value='mpirdd') MP Incoming Reversal DD
  option(value='mpordd') MP Outward Reject DD
  option(value='mporrdd') MP Outward Return/Refund DD
  option(value='mpirdd') MP Incoming Reject DD
  option(value='mpirrdd') MP Incoming Return/Refund DD