- var value = (obj != null) ? obj["interface_type"] : ""
if "OFAC" == value
  include ../docs/compliance
if "BI" == value
  include ../docs/balance_inquiry
if "POSTING" == value
  include ../docs/accounting_system
if "CDB" == value
  include ../docs/account_lookup
if "EXT_FX" == value
  include ../docs/fx_engine
if "ADVISING" == value
  include ../docs/advising