option(value="acmt.023.001.01", selected=(schemas.indexOf("acmt.023.001.01") > -1)) acmt.023.001.01
option(value="acmt.024.001.01", selected=(schemas.indexOf("acmt.024.001.01") > -1)) acmt.024.001.01
option(value="admi.014.001.02", selected=(schemas.indexOf("admi.014.001.02") > -1)) admi.014.001.02
option(value="AuditTrailDefinition", selected=(schemas.indexOf("AuditTrailDefinition") > -1)) AuditTrailDefinition
option(value="camt.026.001.05", selected=(schemas.indexOf("camt.026.001.05") > -1)) camt.026.001.05
option(value="camt.028.001.06", selected=(schemas.indexOf("camt.028.001.06") > -1)) camt.028.001.06
option(value="camt.029.001.03", selected=(schemas.indexOf("camt.029.001.03") > -1)) camt.029.001.03
option(value="camt.029.001.04", selected=(schemas.indexOf("camt.029.001.04") > -1)) camt.029.001.04
option(value="camt.029.001.06", selected=(schemas.indexOf("camt.029.001.06") > -1)) camt.029.001.06
option(value="camt.035.001.03", selected=(schemas.indexOf("camt.035.001.03") > -1)) camt.035.001.03
option(value="camt.052.001.02.xml", selected=(schemas.indexOf("camt.052.001.02.xml") > -1)) camt.052.001.02.xml
option(value="camt.052.001.02", selected=(schemas.indexOf("camt.052.001.02") > -1)) camt.052.001.02
option(value="camt.053.001.02", selected=(schemas.indexOf("camt.053.001.02") > -1)) camt.053.001.02
option(value="camt.054.001.02", selected=(schemas.indexOf("camt.054.001.02") > -1)) camt.054.001.02
option(value="camt.054.001.03", selected=(schemas.indexOf("camt.054.001.03") > -1)) camt.054.001.03
option(value="camt.054.001.04", selected=(schemas.indexOf("camt.054.001.04") > -1)) camt.054.001.04
option(value="camt.055.001.04", selected=(schemas.indexOf("camt.055.001.04") > -1)) camt.055.001.04
option(value="camt.055.001.06", selected=(schemas.indexOf("camt.055.001.06") > -1)) camt.055.001.06
option(value="camt.056.001.01", selected=(schemas.indexOf("camt.056.001.01") > -1)) camt.056.001.01
option(value="camt.056.001.02", selected=(schemas.indexOf("camt.056.001.02") > -1)) camt.056.001.02
option(value="camt.056.001.05", selected=(schemas.indexOf("camt.056.001.05") > -1)) camt.056.001.05
option(value="chips_31", selected=(schemas.indexOf("chips_31") > -1)) chips_31
option(value="CHIPS_Funds", selected=(schemas.indexOf("CHIPS_Funds") > -1)) CHIPS_Funds
option(value="CHIPS_Service", selected=(schemas.indexOf("CHIPS_Service") > -1)) CHIPS_Service
option(value="camt.029.001.04", selected=(schemas.indexOf("camt.029.001.04") > -1)) camt.029.001.04
option(value="camt.029.001.06", selected=(schemas.indexOf("camt.029.001.06") > -1)) camt.029.001.06
option(value="camt.056.001.02", selected=(schemas.indexOf("camt.056.001.02") > -1)) camt.056.001.02
option(value="mdte.001.001.03", selected=(schemas.indexOf("mdte.001.001.03") > -1)) mdte.001.001.03
option(value="mdte.002.001.03", selected=(schemas.indexOf("mdte.002.001.03") > -1)) mdte.002.001.03
option(value="pacs.002.001.04", selected=(schemas.indexOf("pacs.002.001.04") > -1)) pacs.002.001.04
option(value="pacs.004.001.03", selected=(schemas.indexOf("pacs.004.001.03") > -1)) pacs.004.001.03
option(value="pain.009.001.03", selected=(schemas.indexOf("pain.009.001.03") > -1)) pain.009.001.03
option(value="pain.010.001.03", selected=(schemas.indexOf("pain.010.001.03") > -1)) pain.010.001.03
option(value="pain.011.001.03", selected=(schemas.indexOf("pain.011.001.03") > -1)) pain.011.001.03
option(value="pain.012.001.03", selected=(schemas.indexOf("pain.012.001.03") > -1)) pain.012.001.03
option(value="camt.029.001.03", selected=(schemas.indexOf("camt.029.001.03") > -1)) camt.029.001.03
option(value="camt.054.001.03", selected=(schemas.indexOf("camt.054.001.03") > -1)) camt.054.001.03
option(value="camt.055.001.02", selected=(schemas.indexOf("camt.055.001.02") > -1)) camt.055.001.02
option(value="camt.056.001.01", selected=(schemas.indexOf("camt.056.001.01") > -1)) camt.056.001.01
option(value="DIASMCTFH", selected=(schemas.indexOf("DIASMCTFH") > -1)) DIASMCTFH
option(value="DIASSCTFH", selected=(schemas.indexOf("DIASSCTFH") > -1)) DIASSCTFH
option(value="pacs.002.001.03", selected=(schemas.indexOf("pacs.002.001.03") > -1)) pacs.002.001.03
option(value="pacs.004.001.02", selected=(schemas.indexOf("pacs.004.001.02") > -1)) pacs.004.001.02
option(value="pacs.008.001.02", selected=(schemas.indexOf("pacs.008.001.02") > -1)) pacs.008.001.02
option(value="pain.001.001.03", selected=(schemas.indexOf("pain.001.001.03") > -1)) pain.001.001.03
option(value="pain.002.001.03", selected=(schemas.indexOf("pain.002.001.03") > -1)) pain.002.001.03
option(value="camt.029.001.03", selected=(schemas.indexOf("camt.029.001.03") > -1)) camt.029.001.03
option(value="camt.056.001.01", selected=(schemas.indexOf("camt.056.001.01") > -1)) camt.056.001.01
option(value="pacs.002.001.03S2", selected=(schemas.indexOf("pacs.002.001.03S2") > -1)) pacs.002.001.03S2
option(value="pacs.004.001.02", selected=(schemas.indexOf("pacs.004.001.02") > -1)) pacs.004.001.02
option(value="pacs.008.001.02", selected=(schemas.indexOf("pacs.008.001.02") > -1)) pacs.008.001.02
option(value="camt.056.001.01", selected=(schemas.indexOf("camt.056.001.01") > -1)) camt.056.001.01
option(value="pacs.002.001.03", selected=(schemas.indexOf("pacs.002.001.03") > -1)) pacs.002.001.03
option(value="pacs.002.001.03S2", selected=(schemas.indexOf("pacs.002.001.03S2") > -1)) pacs.002.001.03S2
option(value="pacs.003.001.02", selected=(schemas.indexOf("pacs.003.001.02") > -1)) pacs.003.001.02
option(value="pacs.004.001.02", selected=(schemas.indexOf("pacs.004.001.02") > -1)) pacs.004.001.02
option(value="pacs.007.001.02", selected=(schemas.indexOf("pacs.007.001.02") > -1)) pacs.007.001.02
option(value="CommonTypes", selected=(schemas.indexOf("CommonTypes") > -1)) CommonTypes
option(value="camt.056.001.01", selected=(schemas.indexOf("camt.056.001.01") > -1)) camt.056.001.01
option(value="camt.056.001.02", selected=(schemas.indexOf("camt.056.001.02") > -1)) camt.056.001.02
option(value="MPEDDCdfBlkDirDeb", selected=(schemas.indexOf("MPEDDCdfBlkDirDeb") > -1)) MPEDDCdfBlkDirDeb
option(value="MPEDDDnfBlkDirDeb", selected=(schemas.indexOf("MPEDDDnfBlkDirDeb") > -1)) MPEDDDnfBlkDirDeb
option(value="MPEDDIdfBlkDirDeb", selected=(schemas.indexOf("MPEDDIdfBlkDirDeb") > -1)) MPEDDIdfBlkDirDeb
option(value="pacs.002.001.03", selected=(schemas.indexOf("pacs.002.001.03") > -1)) pacs.002.001.03
option(value="pacs.003.001.02", selected=(schemas.indexOf("pacs.003.001.02") > -1)) pacs.003.001.02
option(value="pacs.004.001.02", selected=(schemas.indexOf("pacs.004.001.02") > -1)) pacs.004.001.02
option(value="pacs.007.001.02", selected=(schemas.indexOf("pacs.007.001.02") > -1)) pacs.007.001.02
option(value="ExchangeRateUpload", selected=(schemas.indexOf("ExchangeRateUpload") > -1)) ExchangeRateUpload
option(value="fed_10", selected=(schemas.indexOf("fed_10") > -1)) fed_10
option(value="FED_Funds", selected=(schemas.indexOf("FED_Funds") > -1)) FED_Funds
option(value="FED_Service", selected=(schemas.indexOf("FED_Service") > -1)) FED_Service
option(value="FundtechCanonicalModel", selected=(schemas.indexOf("FundtechCanonicalModel") > -1)) FundtechCanonicalModel
option(value="FundtechCanonicalPyamentModel", selected=(schemas.indexOf("FundtechCanonicalPyamentModel") > -1)) FundtechCanonicalPyamentModel
option(value="FundTech_ACMT.XSD", selected=(schemas.indexOf("FundTech_ACMT.XSD") > -1)) FundTech_ACMT.XSD
option(value="admi.002.001.01", selected=(schemas.indexOf("admi.002.001.01") > -1)) admi.002.001.01
option(value="admi.004.001.01", selected=(schemas.indexOf("admi.004.001.01") > -1)) admi.004.001.01
option(value="admi.004.001.02", selected=(schemas.indexOf("admi.004.001.02") > -1)) admi.004.001.02
option(value="admn.001.001.01", selected=(schemas.indexOf("admn.001.001.01") > -1)) admn.001.001.01
option(value="admn.002.001.01", selected=(schemas.indexOf("admn.002.001.01") > -1)) admn.002.001.01
option(value="admn.003.001.01", selected=(schemas.indexOf("admn.003.001.01") > -1)) admn.003.001.01
option(value="admn.004.001.01", selected=(schemas.indexOf("admn.004.001.01") > -1)) admn.004.001.01
option(value="admn.005.001.01", selected=(schemas.indexOf("admn.005.001.01") > -1)) admn.005.001.01
option(value="admn.006.001.01", selected=(schemas.indexOf("admn.006.001.01") > -1)) admn.006.001.01
option(value="ctrl.001.001.01", selected=(schemas.indexOf("ctrl.001.001.01") > -1)) ctrl.001.001.01
option(value="G3.Admin.ControlFile.01", selected=(schemas.indexOf("G3.Admin.ControlFile.01") > -1)) G3.Admin.ControlFile.01
option(value="G3.Admin.Message.Reject.01", selected=(schemas.indexOf("G3.Admin.Message.Reject.01") > -1)) G3.Admin.Message.Reject.01
option(value="G3.Real-Time.Echo.Request.01", selected=(schemas.indexOf("G3.Real-Time.Echo.Request.01") > -1)) G3.Real-Time.Echo.Request.01
option(value="G3.Real-Time.Echo.Response.01", selected=(schemas.indexOf("G3.Real-Time.Echo.Response.01") > -1)) G3.Real-Time.Echo.Response.01
option(value="G3.Real-Time.Sign.Off.Request.01", selected=(schemas.indexOf("G3.Real-Time.Sign.Off.Request.01") > -1)) G3.Real-Time.Sign.Off.Request.01
option(value="G3.Real-Time.Sign.Off.Response.01", selected=(schemas.indexOf("G3.Real-Time.Sign.Off.Response.01") > -1)) G3.Real-Time.Sign.Off.Response.01
option(value="G3.Real-Time.Sign.On.Request.01", selected=(schemas.indexOf("G3.Real-Time.Sign.On.Request.01") > -1)) G3.Real-Time.Sign.On.Request.01
option(value="G3.Real-Time.Sign.On.Response.01", selected=(schemas.indexOf("G3.Real-Time.Sign.On.Response.01") > -1)) G3.Real-Time.Sign.On.Response.01
option(value="G3.Real-Time.System.Event.Notification.01", selected=(schemas.indexOf("G3.Real-Time.System.Event.Notification.01") > -1)) G3.Real-Time.System.Event.Notification.01
option(value="G3.Real-Time.System.Event.Notification.02", selected=(schemas.indexOf("G3.Real-Time.System.Event.Notification.02") > -1)) G3.Real-Time.System.Event.Notification.02
option(value="head.001.001.01", selected=(schemas.indexOf("head.001.001.01") > -1)) head.001.001.01
option(value="AlertsNotification", selected=(schemas.indexOf("AlertsNotification") > -1)) AlertsNotification
option(value="camt.029.001.03", selected=(schemas.indexOf("camt.029.001.03") > -1)) camt.029.001.03
option(value="camt.056.001.01", selected=(schemas.indexOf("camt.056.001.01") > -1)) camt.056.001.01
option(value="G3.Real-Time.Credit.Transfer.01", selected=(schemas.indexOf("G3.Real-Time.Credit.Transfer.01") > -1)) G3.Real-Time.Credit.Transfer.01
option(value="G3.Real-Time.Direct.Debit.01", selected=(schemas.indexOf("G3.Real-Time.Direct.Debit.01") > -1)) G3.Real-Time.Direct.Debit.01
option(value="G3.Real-Time.Payment.Cancellation.01", selected=(schemas.indexOf("G3.Real-Time.Payment.Cancellation.01") > -1)) G3.Real-Time.Payment.Cancellation.01
option(value="G3.Real-Time.Payment.Reversal.01", selected=(schemas.indexOf("G3.Real-Time.Payment.Reversal.01") > -1)) G3.Real-Time.Payment.Reversal.01
option(value="G3.Real-Time.Payment.Status.01", selected=(schemas.indexOf("G3.Real-Time.Payment.Status.01") > -1)) G3.Real-Time.Payment.Status.01
option(value="G3.Real-Time.Resolution.Of.Investigation.01", selected=(schemas.indexOf("G3.Real-Time.Resolution.Of.Investigation.01") > -1)) G3.Real-Time.Resolution.Of.Investigation.01
option(value="head.001.001.01", selected=(schemas.indexOf("head.001.001.01") > -1)) head.001.001.01
option(value="pacs.002.001.03", selected=(schemas.indexOf("pacs.002.001.03") > -1)) pacs.002.001.03
option(value="pacs.003.001.02", selected=(schemas.indexOf("pacs.003.001.02") > -1)) pacs.003.001.02
option(value="pacs.007.001.02", selected=(schemas.indexOf("pacs.007.001.02") > -1)) pacs.007.001.02
option(value="pacs.008.001.02", selected=(schemas.indexOf("pacs.008.001.02") > -1)) pacs.008.001.02
option(value="camt.053.001.02", selected=(schemas.indexOf("camt.053.001.02") > -1)) camt.053.001.02
option(value="G3.Real-Time.Bank.Statement.Request.01", selected=(schemas.indexOf("G3.Real-Time.Bank.Statement.Request.01") > -1)) G3.Real-Time.Bank.Statement.Request.01
option(value="G3.Real-Time.Bank.Statement.Response.01", selected=(schemas.indexOf("G3.Real-Time.Bank.Statement.Response.01") > -1)) G3.Real-Time.Bank.Statement.Response.01
option(value="G3.Real-Time.SLA.Report.01", selected=(schemas.indexOf("G3.Real-Time.SLA.Report.01") > -1)) G3.Real-Time.SLA.Report.01
option(value="G3.Report.Bank.Statement.01", selected=(schemas.indexOf("G3.Report.Bank.Statement.01") > -1)) G3.Report.Bank.Statement.01
option(value="head.001.001.01", selected=(schemas.indexOf("head.001.001.01") > -1)) head.001.001.01
option(value="psla.001.001.01", selected=(schemas.indexOf("psla.001.001.01") > -1)) psla.001.001.01
option(value="stmt.001.001.01", selected=(schemas.indexOf("stmt.001.001.01") > -1)) stmt.001.001.01
option(value="stmt.002.001.01", selected=(schemas.indexOf("stmt.002.001.01") > -1)) stmt.002.001.01
option(value="gpp_sp_dev", selected=(schemas.indexOf("gpp_sp_dev") > -1)) gpp_sp_dev
option(value="GroupActions", selected=(schemas.indexOf("GroupActions") > -1)) GroupActions
option(value="head.001.001.01", selected=(schemas.indexOf("head.001.001.01") > -1)) head.001.001.01
option(value="FIXML-4.4-Container", selected=(schemas.indexOf("FIXML-4.4-Container") > -1)) FIXML-4.4-Container
option(value="fixml-components-base-4-4", selected=(schemas.indexOf("fixml-components-base-4-4") > -1)) fixml-components-base-4-4
option(value="fixml-components-impl-4-4", selected=(schemas.indexOf("fixml-components-impl-4-4") > -1)) fixml-components-impl-4-4
option(value="fixml-datatypes-4-4", selected=(schemas.indexOf("fixml-datatypes-4-4") > -1)) fixml-datatypes-4-4
option(value="fixml-fields-base-4-4", selected=(schemas.indexOf("fixml-fields-base-4-4") > -1)) fixml-fields-base-4-4
option(value="fixml-fields-impl-4-4", selected=(schemas.indexOf("fixml-fields-impl-4-4") > -1)) fixml-fields-impl-4-4
option(value="fixml-order-base-4-4", selected=(schemas.indexOf("fixml-order-base-4-4") > -1)) fixml-order-base-4-4
option(value="fixml-order-impl-4-4", selected=(schemas.indexOf("fixml-order-impl-4-4") > -1)) fixml-order-impl-4-4
option(value="fixml-quotation-base-4-4", selected=(schemas.indexOf("fixml-quotation-base-4-4") > -1)) fixml-quotation-base-4-4
option(value="fixml-quotation-impl-4-4", selected=(schemas.indexOf("fixml-quotation-impl-4-4") > -1)) fixml-quotation-impl-4-4
option(value="FXOrdersV001", selected=(schemas.indexOf("FXOrdersV001") > -1)) FXOrdersV001
option(value="FXQuotesV001", selected=(schemas.indexOf("FXQuotesV001") > -1)) FXQuotesV001
option(value="FXT-FIXML-4-4", selected=(schemas.indexOf("FXT-FIXML-4-4") > -1)) FXT-FIXML-4-4
option(value="soap-envelope-1.2", selected=(schemas.indexOf("soap-envelope-1.2") > -1)) soap-envelope-1.2
option(value="xml", selected=(schemas.indexOf("xml") > -1)) xml
option(value="AccountLookup", selected=(schemas.indexOf("AccountLookup") > -1)) AccountLookup
option(value="BOC_AccountLookup_fromGPP_ex1.xml", selected=(schemas.indexOf("BOC_AccountLookup_fromGPP_ex1.xml") > -1)) BOC_AccountLookup_fromGPP_ex1.xml
option(value="BOC_AccountLookup_toGPP_ex1.xml", selected=(schemas.indexOf("BOC_AccountLookup_toGPP_ex1.xml") > -1)) BOC_AccountLookup_toGPP_ex1.xml
option(value="BOC_AccountLookup_toGPP_ex2.xml", selected=(schemas.indexOf("BOC_AccountLookup_toGPP_ex2.xml") > -1)) BOC_AccountLookup_toGPP_ex2.xml
option(value="HeartbeatMessage", selected=(schemas.indexOf("HeartbeatMessage") > -1)) HeartbeatMessage
option(value="CentralMessagingServiceEMOV2_0", selected=(schemas.indexOf("CentralMessagingServiceEMOV2_0") > -1)) CentralMessagingServiceEMOV2_0
option(value="TechnicalEMOV2_0", selected=(schemas.indexOf("TechnicalEMOV2_0") > -1)) TechnicalEMOV2_0
option(value="DebitOrderMandateValidateAccountIFXV1_0", selected=(schemas.indexOf("DebitOrderMandateValidateAccountIFXV1_0") > -1)) DebitOrderMandateValidateAccountIFXV1_0
option(value="DebitOrderMandateValidateAccountSBGV1_0", selected=(schemas.indexOf("DebitOrderMandateValidateAccountSBGV1_0") > -1)) DebitOrderMandateValidateAccountSBGV1_0
option(value="DebitOrderMandateValidateAccountSRVV1_0", selected=(schemas.indexOf("DebitOrderMandateValidateAccountSRVV1_0") > -1)) DebitOrderMandateValidateAccountSRVV1_0
option(value="HSM/MessageHeadersV2_0", selected=(schemas.indexOf("HSM/MessageHeadersV2_0") > -1)) HSM/MessageHeadersV2_0
option(value="HSM/PS_HSM_SecurityAuthenticateMessageIFXV1_0", selected=(schemas.indexOf("HSM/PS_HSM_SecurityAuthenticateMessageIFXV1_0") > -1)) HSM/PS_HSM_SecurityAuthenticateMessageIFXV1_0
option(value="HSM/PS_HSM_SecurityAuthenticateMessageSRVV1_0", selected=(schemas.indexOf("HSM/PS_HSM_SecurityAuthenticateMessageSRVV1_0") > -1)) HSM/PS_HSM_SecurityAuthenticateMessageSRVV1_0
option(value="MessageHeadersV1_0", selected=(schemas.indexOf("MessageHeadersV1_0") > -1)) MessageHeadersV1_0
option(value="interface/transmissioninfo", selected=(schemas.indexOf("interface/transmissioninfo") > -1)) interface/transmissioninfo
option(value="loadPostingInfo", selected=(schemas.indexOf("loadPostingInfo") > -1)) loadPostingInfo
option(value="LoadProfile", selected=(schemas.indexOf("LoadProfile") > -1)) LoadProfile
option(value="LoginService", selected=(schemas.indexOf("LoginService") > -1)) LoginService
option(value="MassPayment", selected=(schemas.indexOf("MassPayment") > -1)) MassPayment
option(value="mdte.001.001.02", selected=(schemas.indexOf("mdte.001.001.02") > -1)) mdte.001.001.02
option(value="mdte.001.001.03", selected=(schemas.indexOf("mdte.001.001.03") > -1)) mdte.001.001.03
option(value="mdte.002.001.02", selected=(schemas.indexOf("mdte.002.001.02") > -1)) mdte.002.001.02
option(value="mdte.002.001.03", selected=(schemas.indexOf("mdte.002.001.03") > -1)) mdte.002.001.03
option(value="MessageUnifiedGateway", selected=(schemas.indexOf("MessageUnifiedGateway") > -1)) MessageUnifiedGateway
option(value="MPEDDIdfBlkDirDeb", selected=(schemas.indexOf("MPEDDIdfBlkDirDeb") > -1)) MPEDDIdfBlkDirDeb
option(value="MPEDDSdfBlkDirDeb", selected=(schemas.indexOf("MPEDDSdfBlkDirDeb") > -1)) MPEDDSdfBlkDirDeb
option(value="MsgTableDefinition", selected=(schemas.indexOf("MsgTableDefinition") > -1)) MsgTableDefinition
option(value="nacha.001", selected=(schemas.indexOf("nacha.001") > -1)) nacha.001
option(value="nacha_ack", selected=(schemas.indexOf("nacha_ack") > -1)) nacha_ack
option(value="nacha_admin", selected=(schemas.indexOf("nacha_admin") > -1)) nacha_admin
option(value="nacha_ct", selected=(schemas.indexOf("nacha_ct") > -1)) nacha_ct
option(value="nacha_dd", selected=(schemas.indexOf("nacha_dd") > -1)) nacha_dd
option(value="nacha_rtn", selected=(schemas.indexOf("nacha_rtn") > -1)) nacha_rtn
option(value="OFAC", selected=(schemas.indexOf("OFAC") > -1)) OFAC
option(value="OFACCDBDefinition", selected=(schemas.indexOf("OFACCDBDefinition") > -1)) OFACCDBDefinition
option(value="pacs.002.001.03", selected=(schemas.indexOf("pacs.002.001.03") > -1)) pacs.002.001.03
option(value="pacs.002.001.03S2", selected=(schemas.indexOf("pacs.002.001.03S2") > -1)) pacs.002.001.03S2
option(value="pacs.002.001.04", selected=(schemas.indexOf("pacs.002.001.04") > -1)) pacs.002.001.04
option(value="pacs.002.001.06", selected=(schemas.indexOf("pacs.002.001.06") > -1)) pacs.002.001.06
option(value="pacs.002.001.07", selected=(schemas.indexOf("pacs.002.001.07") > -1)) pacs.002.001.07
option(value="pacs.003.001.02", selected=(schemas.indexOf("pacs.003.001.02") > -1)) pacs.003.001.02
option(value="pacs.003.001.03", selected=(schemas.indexOf("pacs.003.001.03") > -1)) pacs.003.001.03
option(value="pacs.004.001.02", selected=(schemas.indexOf("pacs.004.001.02") > -1)) pacs.004.001.02
option(value="pacs.004.001.03", selected=(schemas.indexOf("pacs.004.001.03") > -1)) pacs.004.001.03
option(value="pacs.004.001.05", selected=(schemas.indexOf("pacs.004.001.05") > -1)) pacs.004.001.05
option(value="pacs.007.001.02", selected=(schemas.indexOf("pacs.007.001.02") > -1)) pacs.007.001.02
option(value="pacs.008.001.01", selected=(schemas.indexOf("pacs.008.001.01") > -1)) pacs.008.001.01
option(value="pacs.008.001.02", selected=(schemas.indexOf("pacs.008.001.02") > -1)) pacs.008.001.02
option(value="pacs.008.001.03", selected=(schemas.indexOf("pacs.008.001.03") > -1)) pacs.008.001.03
option(value="pacs.008.001.05", selected=(schemas.indexOf("pacs.008.001.05") > -1)) pacs.008.001.05
option(value="pacs.008.001.06", selected=(schemas.indexOf("pacs.008.001.06") > -1)) pacs.008.001.06
option(value="pacs.009.001.02", selected=(schemas.indexOf("pacs.009.001.02") > -1)) pacs.009.001.02
option(value="pacs.009.001.03", selected=(schemas.indexOf("pacs.009.001.03") > -1)) pacs.009.001.03
option(value="pain.001.001.02", selected=(schemas.indexOf("pain.001.001.02") > -1)) pain.001.001.02
option(value="pain.001.001.03", selected=(schemas.indexOf("pain.001.001.03") > -1)) pain.001.001.03
option(value="pain.001.001.06", selected=(schemas.indexOf("pain.001.001.06") > -1)) pain.001.001.06
option(value="pain.002.001.02", selected=(schemas.indexOf("pain.002.001.02") > -1)) pain.002.001.02
option(value="pain.002.001.03", selected=(schemas.indexOf("pain.002.001.03") > -1)) pain.002.001.03
option(value="pain.002.001.06", selected=(schemas.indexOf("pain.002.001.06") > -1)) pain.002.001.06
option(value="pain.002.001.08", selected=(schemas.indexOf("pain.002.001.08") > -1)) pain.002.001.08
option(value="pain.007.001.02", selected=(schemas.indexOf("pain.007.001.02") > -1)) pain.007.001.02
option(value="pain.008.001.01", selected=(schemas.indexOf("pain.008.001.01") > -1)) pain.008.001.01
option(value="pain.008.001.02", selected=(schemas.indexOf("pain.008.001.02") > -1)) pain.008.001.02
option(value="pain.008.001.04", selected=(schemas.indexOf("pain.008.001.04") > -1)) pain.008.001.04
option(value="pain.008.001.06", selected=(schemas.indexOf("pain.008.001.06") > -1)) pain.008.001.06
option(value="pain.009.001.02", selected=(schemas.indexOf("pain.009.001.02") > -1)) pain.009.001.02
option(value="pain.009.001.03", selected=(schemas.indexOf("pain.009.001.03") > -1)) pain.009.001.03
option(value="pain.010.001.02", selected=(schemas.indexOf("pain.010.001.02") > -1)) pain.010.001.02
option(value="pain.010.001.03", selected=(schemas.indexOf("pain.010.001.03") > -1)) pain.010.001.03
option(value="pain.011.001.02", selected=(schemas.indexOf("pain.011.001.02") > -1)) pain.011.001.02
option(value="pain.011.001.03", selected=(schemas.indexOf("pain.011.001.03") > -1)) pain.011.001.03
option(value="pain.012.001.03", selected=(schemas.indexOf("pain.012.001.03") > -1)) pain.012.001.03
option(value="pain.013.001.05", selected=(schemas.indexOf("pain.013.001.05") > -1)) pain.013.001.05
option(value="pain.014.001.05", selected=(schemas.indexOf("pain.014.001.05") > -1)) pain.014.001.05
option(value="PaymentsNotificationEventsV001", selected=(schemas.indexOf("PaymentsNotificationEventsV001") > -1)) PaymentsNotificationEventsV001
option(value="PaymentsNotificationV001", selected=(schemas.indexOf("PaymentsNotificationV001") > -1)) PaymentsNotificationV001
option(value="prule-resource-definitions", selected=(schemas.indexOf("prule-resource-definitions") > -1)) prule-resource-definitions
option(value="QExplorerTaskInput", selected=(schemas.indexOf("QExplorerTaskInput") > -1)) QExplorerTaskInput
option(value="QExplorerUDQRefresh", selected=(schemas.indexOf("QExplorerUDQRefresh") > -1)) QExplorerUDQRefresh
option(value="remt.001.001.02", selected=(schemas.indexOf("remt.001.001.02") > -1)) remt.001.001.02
option(value="SCTIcfBlkCredTrf", selected=(schemas.indexOf("SCTIcfBlkCredTrf") > -1)) SCTIcfBlkCredTrf
option(value="sms", selected=(schemas.indexOf("sms") > -1)) sms
option(value="StaticDataCommonTypes", selected=(schemas.indexOf("StaticDataCommonTypes") > -1)) StaticDataCommonTypes
option(value="Tasks", selected=(schemas.indexOf("Tasks") > -1)) Tasks
option(value="UC_acclkup_FndtMsgBatch", selected=(schemas.indexOf("UC_acclkup_FndtMsgBatch") > -1)) UC_acclkup_FndtMsgBatch
option(value="swift-common", selected=(schemas.indexOf("swift-common") > -1)) swift-common
option(value="SWIFT_101", selected=(schemas.indexOf("SWIFT_101") > -1)) SWIFT_101
option(value="SWIFT_102", selected=(schemas.indexOf("SWIFT_102") > -1)) SWIFT_102
option(value="SWIFT_103", selected=(schemas.indexOf("SWIFT_103") > -1)) SWIFT_103
option(value="SWIFT_198_027", selected=(schemas.indexOf("SWIFT_198_027") > -1)) SWIFT_198_027
option(value="SWIFT_198_028", selected=(schemas.indexOf("SWIFT_198_028") > -1)) SWIFT_198_028
option(value="SWIFT_198_036", selected=(schemas.indexOf("SWIFT_198_036") > -1)) SWIFT_198_036
option(value="SWIFT_198_037", selected=(schemas.indexOf("SWIFT_198_037") > -1)) SWIFT_198_037
option(value="SWIFT_198_038", selected=(schemas.indexOf("SWIFT_198_038") > -1)) SWIFT_198_038
option(value="SWIFT_200", selected=(schemas.indexOf("SWIFT_200") > -1)) SWIFT_200
option(value="SWIFT_202", selected=(schemas.indexOf("SWIFT_202") > -1)) SWIFT_202
option(value="SWIFT_202COV", selected=(schemas.indexOf("SWIFT_202COV") > -1)) SWIFT_202COV
option(value="SWIFT_203", selected=(schemas.indexOf("SWIFT_203") > -1)) SWIFT_203
option(value="SWIFT_204", selected=(schemas.indexOf("SWIFT_204") > -1)) SWIFT_204
option(value="SWIFT_210", selected=(schemas.indexOf("SWIFT_210") > -1)) SWIFT_210
option(value="SWIFT_298_011", selected=(schemas.indexOf("SWIFT_298_011") > -1)) SWIFT_298_011
option(value="SWIFT_298_012", selected=(schemas.indexOf("SWIFT_298_012") > -1)) SWIFT_298_012
option(value="SWIFT_298_013", selected=(schemas.indexOf("SWIFT_298_013") > -1)) SWIFT_298_013
option(value="SWIFT_298_014", selected=(schemas.indexOf("SWIFT_298_014") > -1)) SWIFT_298_014
option(value="SWIFT_400", selected=(schemas.indexOf("SWIFT_400") > -1)) SWIFT_400
option(value="SWIFT_900", selected=(schemas.indexOf("SWIFT_900") > -1)) SWIFT_900
option(value="SWIFT_910", selected=(schemas.indexOf("SWIFT_910") > -1)) SWIFT_910
option(value="SWIFT_940", selected=(schemas.indexOf("SWIFT_940") > -1)) SWIFT_940
option(value="SWIFT_941", selected=(schemas.indexOf("SWIFT_941") > -1)) SWIFT_941
option(value="SWIFT_942", selected=(schemas.indexOf("SWIFT_942") > -1)) SWIFT_942
option(value="SWIFT_950", selected=(schemas.indexOf("SWIFT_950") > -1)) SWIFT_950
option(value="SWIFT_970", selected=(schemas.indexOf("SWIFT_970") > -1)) SWIFT_970
option(value="SWIFT_971", selected=(schemas.indexOf("SWIFT_971") > -1)) SWIFT_971
option(value="SWIFT_972", selected=(schemas.indexOf("SWIFT_972") > -1)) SWIFT_972
option(value="SWIFT_ACK", selected=(schemas.indexOf("SWIFT_ACK") > -1)) SWIFT_ACK
option(value="SWIFT_NX9X", selected=(schemas.indexOf("SWIFT_NX9X") > -1)) SWIFT_NX9X
option(value="SWIFT_PSM", selected=(schemas.indexOf("SWIFT_PSM") > -1)) SWIFT_PSM
option(value="USClearing_Common", selected=(schemas.indexOf("USClearing_Common") > -1)) USClearing_Common
option(value="VerifyAccountIdentityReplyV001", selected=(schemas.indexOf("VerifyAccountIdentityReplyV001") > -1)) VerifyAccountIdentityReplyV001
option(value="VerifyAccountIdentityV001", selected=(schemas.indexOf("VerifyAccountIdentityV001") > -1)) VerifyAccountIdentityV001
option(value="xbean_extensions", selected=(schemas.indexOf("xbean_extensions") > -1)) xbean_extensions

