option(value="acmt.023.001.01.xsd") acmt.023.001.01  
option(value="acmt.024.001.01.xsd") acmt.024.001.01  
option(value="admi.014.001.02.xsd") admi.014.001.02  
option(value="AuditTrailDefinition.xsd") AuditTrailDefinition  
option(value="camt.026.001.05.xsd") camt.026.001.05  
option(value="camt.028.001.06.xsd") camt.028.001.06  
option(value="camt.029.001.03.xsd") camt.029.001.03  
option(value="camt.029.001.04.xsd") camt.029.001.04  
option(value="camt.029.001.06.xsd") camt.029.001.06  
option(value="camt.035.001.03.xsd") camt.035.001.03  
option(value="camt.052.001.02.xml") camt.052.001.02.xml 
option(value="camt.052.001.02.xsd") camt.052.001.02  
option(value="camt.053.001.02.xsd") camt.053.001.02  
option(value="camt.054.001.02.xsd") camt.054.001.02  
option(value="camt.054.001.03.xsd") camt.054.001.03  
option(value="camt.054.001.04.xsd") camt.054.001.04  
option(value="camt.055.001.04.xsd") camt.055.001.04  
option(value="camt.055.001.06.xsd") camt.055.001.06  
option(value="camt.056.001.01.xsd") camt.056.001.01  
option(value="camt.056.001.02.xsd") camt.056.001.02  
option(value="camt.056.001.05.xsd") camt.056.001.05  
option(value="chips_31.xsd") chips_31  
option(value="CHIPS_Funds.xsd") CHIPS_Funds  
option(value="CHIPS_Service.xsd") CHIPS_Service  
option(value="camt.029.001.04.xsd") camt.029.001.04  
option(value="camt.029.001.06.xsd") camt.029.001.06  
option(value="camt.056.001.02.xsd") camt.056.001.02  
option(value="mdte.001.001.03.xsd") mdte.001.001.03  
option(value="mdte.002.001.03.xsd") mdte.002.001.03  
option(value="pacs.002.001.04.xsd") pacs.002.001.04  
option(value="pacs.004.001.03.xsd") pacs.004.001.03  
option(value="pain.009.001.03.xsd") pain.009.001.03  
option(value="pain.010.001.03.xsd") pain.010.001.03  
option(value="pain.011.001.03.xsd") pain.011.001.03  
option(value="pain.012.001.03.xsd") pain.012.001.03  
option(value="camt.029.001.03.xsd") camt.029.001.03  
option(value="camt.054.001.03.xsd") camt.054.001.03  
option(value="camt.055.001.02.xsd") camt.055.001.02  
option(value="camt.056.001.01.xsd") camt.056.001.01  
option(value="DIASMCTFH.xsd") DIASMCTFH  
option(value="DIASSCTFH.xsd") DIASSCTFH  
option(value="pacs.002.001.03.xsd") pacs.002.001.03  
option(value="pacs.004.001.02.xsd") pacs.004.001.02  
option(value="pacs.008.001.02.xsd") pacs.008.001.02  
option(value="pain.001.001.03.xsd") pain.001.001.03  
option(value="pain.002.001.03.xsd") pain.002.001.03  
option(value="camt.029.001.03.xsd") camt.029.001.03  
option(value="camt.056.001.01.xsd") camt.056.001.01  
option(value="pacs.002.001.03S2.xsd") pacs.002.001.03S2  
option(value="pacs.004.001.02.xsd") pacs.004.001.02  
option(value="pacs.008.001.02.xsd") pacs.008.001.02  
option(value="camt.056.001.01.xsd") camt.056.001.01  
option(value="pacs.002.001.03.xsd") pacs.002.001.03  
option(value="pacs.002.001.03S2.xsd") pacs.002.001.03S2  
option(value="pacs.003.001.02.xsd") pacs.003.001.02  
option(value="pacs.004.001.02.xsd") pacs.004.001.02  
option(value="pacs.007.001.02.xsd") pacs.007.001.02  
option(value="CommonTypes.xsd") CommonTypes  
option(value="camt.056.001.01.xsd") camt.056.001.01  
option(value="camt.056.001.02.xsd") camt.056.001.02  
option(value="MPEDDCdfBlkDirDeb.xsd") MPEDDCdfBlkDirDeb  
option(value="MPEDDDnfBlkDirDeb.xsd") MPEDDDnfBlkDirDeb  
option(value="MPEDDIdfBlkDirDeb.xsd") MPEDDIdfBlkDirDeb  
option(value="pacs.002.001.03.xsd") pacs.002.001.03  
option(value="pacs.003.001.02.xsd") pacs.003.001.02  
option(value="pacs.004.001.02.xsd") pacs.004.001.02  
option(value="pacs.007.001.02.xsd") pacs.007.001.02  
option(value="ExchangeRateUpload.xsd") ExchangeRateUpload  
option(value="fed_10.xsd") fed_10  
option(value="FED_Funds.xsd") FED_Funds  
option(value="FED_Service.xsd") FED_Service  
option(value="FundtechCanonicalModel.xsd") FundtechCanonicalModel  
option(value="FundtechCanonicalPyamentModel.xsd") FundtechCanonicalPyamentModel  
option(value="FundTech_ACMT.XSD") FundTech_ACMT.XSD 
option(value="admi.002.001.01.xsd") admi.002.001.01  
option(value="admi.004.001.01.xsd") admi.004.001.01  
option(value="admi.004.001.02.xsd") admi.004.001.02  
option(value="admn.001.001.01.xsd") admn.001.001.01  
option(value="admn.002.001.01.xsd") admn.002.001.01  
option(value="admn.003.001.01.xsd") admn.003.001.01  
option(value="admn.004.001.01.xsd") admn.004.001.01  
option(value="admn.005.001.01.xsd") admn.005.001.01  
option(value="admn.006.001.01.xsd") admn.006.001.01  
option(value="ctrl.001.001.01.xsd") ctrl.001.001.01  
option(value="G3.Admin.ControlFile.01.xsd") G3.Admin.ControlFile.01  
option(value="G3.Admin.Message.Reject.01.xsd") G3.Admin.Message.Reject.01  
option(value="G3.Real-Time.Echo.Request.01.xsd") G3.Real-Time.Echo.Request.01  
option(value="G3.Real-Time.Echo.Response.01.xsd") G3.Real-Time.Echo.Response.01  
option(value="G3.Real-Time.Sign.Off.Request.01.xsd") G3.Real-Time.Sign.Off.Request.01  
option(value="G3.Real-Time.Sign.Off.Response.01.xsd") G3.Real-Time.Sign.Off.Response.01  
option(value="G3.Real-Time.Sign.On.Request.01.xsd") G3.Real-Time.Sign.On.Request.01  
option(value="G3.Real-Time.Sign.On.Response.01.xsd") G3.Real-Time.Sign.On.Response.01  
option(value="G3.Real-Time.System.Event.Notification.01.xsd") G3.Real-Time.System.Event.Notification.01  
option(value="G3.Real-Time.System.Event.Notification.02.xsd") G3.Real-Time.System.Event.Notification.02  
option(value="head.001.001.01.xsd") head.001.001.01  
option(value="AlertsNotification.xsd") AlertsNotification  
option(value="camt.029.001.03.xsd") camt.029.001.03  
option(value="camt.056.001.01.xsd") camt.056.001.01  
option(value="G3.Real-Time.Credit.Transfer.01.xsd") G3.Real-Time.Credit.Transfer.01  
option(value="G3.Real-Time.Direct.Debit.01.xsd") G3.Real-Time.Direct.Debit.01  
option(value="G3.Real-Time.Payment.Cancellation.01.xsd") G3.Real-Time.Payment.Cancellation.01  
option(value="G3.Real-Time.Payment.Reversal.01.xsd") G3.Real-Time.Payment.Reversal.01  
option(value="G3.Real-Time.Payment.Status.01.xsd") G3.Real-Time.Payment.Status.01  
option(value="G3.Real-Time.Resolution.Of.Investigation.01.xsd") G3.Real-Time.Resolution.Of.Investigation.01  
option(value="head.001.001.01.xsd") head.001.001.01  
option(value="pacs.002.001.03.xsd") pacs.002.001.03  
option(value="pacs.003.001.02.xsd") pacs.003.001.02  
option(value="pacs.007.001.02.xsd") pacs.007.001.02  
option(value="pacs.008.001.02.xsd") pacs.008.001.02  
option(value="camt.053.001.02.xsd") camt.053.001.02  
option(value="G3.Real-Time.Bank.Statement.Request.01.xsd") G3.Real-Time.Bank.Statement.Request.01  
option(value="G3.Real-Time.Bank.Statement.Response.01.xsd") G3.Real-Time.Bank.Statement.Response.01  
option(value="G3.Real-Time.SLA.Report.01.xsd") G3.Real-Time.SLA.Report.01  
option(value="G3.Report.Bank.Statement.01.xsd") G3.Report.Bank.Statement.01  
option(value="head.001.001.01.xsd") head.001.001.01  
option(value="psla.001.001.01.xsd") psla.001.001.01  
option(value="stmt.001.001.01.xsd") stmt.001.001.01  
option(value="stmt.002.001.01.xsd") stmt.002.001.01  
option(value="gpp_sp_dev.xsd") gpp_sp_dev  
option(value="GroupActions.xsd") GroupActions  
option(value="head.001.001.01.xsd") head.001.001.01  
option(value="FIXML-4.4-Container.xsd") FIXML-4.4-Container  
option(value="fixml-components-base-4-4.xsd") fixml-components-base-4-4  
option(value="fixml-components-impl-4-4.xsd") fixml-components-impl-4-4  
option(value="fixml-datatypes-4-4.xsd") fixml-datatypes-4-4  
option(value="fixml-fields-base-4-4.xsd") fixml-fields-base-4-4  
option(value="fixml-fields-impl-4-4.xsd") fixml-fields-impl-4-4  
option(value="fixml-order-base-4-4.xsd") fixml-order-base-4-4  
option(value="fixml-order-impl-4-4.xsd") fixml-order-impl-4-4  
option(value="fixml-quotation-base-4-4.xsd") fixml-quotation-base-4-4  
option(value="fixml-quotation-impl-4-4.xsd") fixml-quotation-impl-4-4  
option(value="FXOrdersV001.xsd") FXOrdersV001  
option(value="FXQuotesV001.xsd") FXQuotesV001  
option(value="FXT-FIXML-4-4.xsd") FXT-FIXML-4-4  
option(value="soap-envelope-1.2.xsd") soap-envelope-1.2  
option(value="xml.xsd") xml  
option(value="AccountLookup.xsd") AccountLookup  
option(value="BOC_AccountLookup_fromGPP_ex1.xml") BOC_AccountLookup_fromGPP_ex1.xml 
option(value="BOC_AccountLookup_toGPP_ex1.xml") BOC_AccountLookup_toGPP_ex1.xml 
option(value="BOC_AccountLookup_toGPP_ex2.xml") BOC_AccountLookup_toGPP_ex2.xml 
option(value="HeartbeatMessage.xsd") HeartbeatMessage  
option(value="CentralMessagingServiceEMOV2_0.xsd") CentralMessagingServiceEMOV2_0  
option(value="TechnicalEMOV2_0.xsd") TechnicalEMOV2_0  
option(value="DebitOrderMandateValidateAccountIFXV1_0.xsd") DebitOrderMandateValidateAccountIFXV1_0  
option(value="DebitOrderMandateValidateAccountSBGV1_0.xsd") DebitOrderMandateValidateAccountSBGV1_0  
option(value="DebitOrderMandateValidateAccountSRVV1_0.xsd") DebitOrderMandateValidateAccountSRVV1_0  
option(value="HSM/MessageHeadersV2_0.xsd") HSM/MessageHeadersV2_0  
option(value="HSM/PS_HSM_SecurityAuthenticateMessageIFXV1_0.xsd") HSM/PS_HSM_SecurityAuthenticateMessageIFXV1_0  
option(value="HSM/PS_HSM_SecurityAuthenticateMessageSRVV1_0.xsd") HSM/PS_HSM_SecurityAuthenticateMessageSRVV1_0  
option(value="MessageHeadersV1_0.xsd") MessageHeadersV1_0  
option(value="interface/transmissioninfo.xsd") interface/transmissioninfo  
option(value="loadPostingInfo.xsd") loadPostingInfo  
option(value="LoadProfile.xsd") LoadProfile  
option(value="LoginService.xsd") LoginService  
option(value="MassPayment.xsd") MassPayment  
option(value="mdte.001.001.02.xsd") mdte.001.001.02  
option(value="mdte.001.001.03.xsd") mdte.001.001.03  
option(value="mdte.002.001.02.xsd") mdte.002.001.02  
option(value="mdte.002.001.03.xsd") mdte.002.001.03  
option(value="MessageUnifiedGateway.xsd") MessageUnifiedGateway  
option(value="MPEDDIdfBlkDirDeb.xsd") MPEDDIdfBlkDirDeb  
option(value="MPEDDSdfBlkDirDeb.xsd") MPEDDSdfBlkDirDeb  
option(value="MsgTableDefinition.xsd") MsgTableDefinition  
option(value="nacha.001.xsd") nacha.001  
option(value="nacha_ack.xsd") nacha_ack  
option(value="nacha_admin.xsd") nacha_admin  
option(value="nacha_ct.xsd") nacha_ct  
option(value="nacha_dd.xsd") nacha_dd  
option(value="nacha_rtn.xsd") nacha_rtn  
option(value="OFAC.xsd") OFAC  
option(value="OFACCDBDefinition.xsd") OFACCDBDefinition  
option(value="pacs.002.001.03.xsd") pacs.002.001.03  
option(value="pacs.002.001.03S2.xsd") pacs.002.001.03S2  
option(value="pacs.002.001.04.xsd") pacs.002.001.04  
option(value="pacs.002.001.06.xsd") pacs.002.001.06  
option(value="pacs.002.001.07.xsd") pacs.002.001.07  
option(value="pacs.003.001.02.xsd") pacs.003.001.02  
option(value="pacs.003.001.03.xsd") pacs.003.001.03  
option(value="pacs.004.001.02.xsd") pacs.004.001.02  
option(value="pacs.004.001.03.xsd") pacs.004.001.03  
option(value="pacs.004.001.05.xsd") pacs.004.001.05  
option(value="pacs.007.001.02.xsd") pacs.007.001.02  
option(value="pacs.008.001.01.xsd") pacs.008.001.01  
option(value="pacs.008.001.02.xsd") pacs.008.001.02  
option(value="pacs.008.001.03.xsd") pacs.008.001.03  
option(value="pacs.008.001.05.xsd") pacs.008.001.05  
option(value="pacs.008.001.06.xsd") pacs.008.001.06  
option(value="pacs.009.001.02.xsd") pacs.009.001.02  
option(value="pacs.009.001.03.xsd") pacs.009.001.03  
option(value="pain.001.001.02.xsd") pain.001.001.02  
option(value="pain.001.001.03.xsd") pain.001.001.03  
option(value="pain.001.001.06.xsd") pain.001.001.06  
option(value="pain.002.001.02.xsd") pain.002.001.02  
option(value="pain.002.001.03.xsd") pain.002.001.03  
option(value="pain.002.001.06.xsd") pain.002.001.06  
option(value="pain.002.001.08.xsd") pain.002.001.08  
option(value="pain.007.001.02.xsd") pain.007.001.02  
option(value="pain.008.001.01.xsd") pain.008.001.01  
option(value="pain.008.001.02.xsd") pain.008.001.02  
option(value="pain.008.001.04.xsd") pain.008.001.04  
option(value="pain.008.001.06.xsd") pain.008.001.06  
option(value="pain.009.001.02.xsd") pain.009.001.02  
option(value="pain.009.001.03.xsd") pain.009.001.03  
option(value="pain.010.001.02.xsd") pain.010.001.02  
option(value="pain.010.001.03.xsd") pain.010.001.03  
option(value="pain.011.001.02.xsd") pain.011.001.02  
option(value="pain.011.001.03.xsd") pain.011.001.03  
option(value="pain.012.001.03.xsd") pain.012.001.03  
option(value="pain.013.001.05.xsd") pain.013.001.05  
option(value="pain.014.001.05.xsd") pain.014.001.05  
option(value="PaymentsNotificationEventsV001.xsd") PaymentsNotificationEventsV001  
option(value="PaymentsNotificationV001.xsd") PaymentsNotificationV001  
option(value="prule-resource-definitions.xsd") prule-resource-definitions  
option(value="QExplorerTaskInput.xsd") QExplorerTaskInput  
option(value="QExplorerUDQRefresh.xsd") QExplorerUDQRefresh  
option(value="remt.001.001.02.xsd") remt.001.001.02  
option(value="SCTIcfBlkCredTrf.xsd") SCTIcfBlkCredTrf  
option(value="sms.xsd") sms  
option(value="StaticDataCommonTypes.xsd") StaticDataCommonTypes  
option(value="Tasks.xsd") Tasks  
option(value="UC_acclkup_FndtMsgBatch.xsd") UC_acclkup_FndtMsgBatch  
option(value="swift-common.xsd") swift-common  
option(value="SWIFT_101.xsd") SWIFT_101  
option(value="SWIFT_102.xsd") SWIFT_102  
option(value="SWIFT_103.xsd") SWIFT_103  
option(value="SWIFT_198_027.xsd") SWIFT_198_027  
option(value="SWIFT_198_028.xsd") SWIFT_198_028  
option(value="SWIFT_198_036.xsd") SWIFT_198_036  
option(value="SWIFT_198_037.xsd") SWIFT_198_037  
option(value="SWIFT_198_038.xsd") SWIFT_198_038  
option(value="SWIFT_200.xsd") SWIFT_200  
option(value="SWIFT_202.xsd") SWIFT_202  
option(value="SWIFT_202COV.xsd") SWIFT_202COV  
option(value="SWIFT_203.xsd") SWIFT_203  
option(value="SWIFT_204.xsd") SWIFT_204  
option(value="SWIFT_210.xsd") SWIFT_210  
option(value="SWIFT_298_011.xsd") SWIFT_298_011  
option(value="SWIFT_298_012.xsd") SWIFT_298_012  
option(value="SWIFT_298_013.xsd") SWIFT_298_013  
option(value="SWIFT_298_014.xsd") SWIFT_298_014  
option(value="SWIFT_400.xsd") SWIFT_400  
option(value="SWIFT_900.xsd") SWIFT_900  
option(value="SWIFT_910.xsd") SWIFT_910  
option(value="SWIFT_940.xsd") SWIFT_940  
option(value="SWIFT_941.xsd") SWIFT_941  
option(value="SWIFT_942.xsd") SWIFT_942  
option(value="SWIFT_950.xsd") SWIFT_950  
option(value="SWIFT_970.xsd") SWIFT_970  
option(value="SWIFT_971.xsd") SWIFT_971  
option(value="SWIFT_972.xsd") SWIFT_972  
option(value="SWIFT_ACK.xsd") SWIFT_ACK  
option(value="SWIFT_NX9X.xsd") SWIFT_NX9X  
option(value="SWIFT_PSM.xsd") SWIFT_PSM  
option(value="USClearing_Common.xsd") USClearing_Common  
option(value="VerifyAccountIdentityReplyV001.xsd") VerifyAccountIdentityReplyV001  
option(value="VerifyAccountIdentityV001.xsd") VerifyAccountIdentityV001  
option(value="xbean_extensions.xsdconfig") xbean_extensions config 

