- var value = (uid != null) ? uid.split('^')[0] : ""
if "TASKS" == value
  include ../docs/soa_tasks
if "ACTIONS_ON_PAYMENTS" == value
  include ../docs/soa_actions
if "STP_VALIDATION" == value
  include ../docs/soa_stp_validations
if "STATIC_DATA" == value
  include ../docs/soa_static_data
if "QUEUE_LIST" == value
  include ../docs/soa_queue_list
if "IBAN_VALIDATION" == value
  include ../docs/soa_iban_validation
