if "OFAC" == value
  include ../docs/actions_on_payments
if "BI" == value
  include ../docs/static_data
if "POSTING" == value
  include ../docs/queue_list
if "CDB" == value
  include ../docs/stp_validation
if "EXT_FX" == value
  include ../docs/iban_validation