- var value = item["interface_type"] != null ? item["interface_type"] : ""
if "Tasks" == value
  include ../docs/soa_tasks
if "Actions on payments" == value
  include ../docs/soa_actions
if "STP Validation" == value
  include ../docs/soa_stp_validations
if "Static Data" == value
  include ../docs/soa_static_data
if "Queue List" == value
  include ../docs/soa_queue_list
if "IBAN Validation" == value
  include ../docs/soa_iban_validation